/************* bootstarap viewport breakpoints  ***************/

/* Extra small devices - Phones */
@media screen and (max-width: 767px) { 
	.navbar-brand {
	    width: 100px;
	    height: 90px;
	}
	navbar-header-s1 { margin: 30px 0 0 30px; } 
	.title-s1 { font-size: 0.9em; }
	.title-s2 { font-size: 0.8em; }
	.title-s3 { font-size: 1.2em; }
	.new-list-4 { margin: 20px 0 25px 15px; }
	.slider-align { margin-top: 0px; }
	
	.nav-list li:first-child a { margin: 5px auto 10px auto; }
	.custom-btn-s1 {
		padding: 4px 0;
	    font-size: smaller;
	}
	
	.carousel-caption { margin: 0 !important; padding: 10px; top: 0px; height: 100%; }
	.custom-btn-s2 {
	    width: 100%;
	    margin-left: 0;
	}
	.mr50 { margin-right: 0px; }
	.mr66 { margin-right: 0px; }
	
	.input-s1 { width: 100% !important; }
	.input-s2 { width: 100% !important; }
	.input-s3, .input-s4 { width: 100% !important; }
	
	.nav-list li a { display: block; float: none; }
	.new-brL { border-left: 1px solid rgba(204,204,204,0); }
	.content_container-s1 { padding: 0px; }
	.input-mar-s1 { margin-left: 0px; }
	
	.custom-iteam-s1 { width: 100%; margin: 15px 15px 15px 0px; }
	
	.custom-modal-s1 { width: 90%; }
	.right-cointer-s1 { height: 550px; position: relative; }
	
	fieldset { width: 100%; }
	.custom-inside-s1 span:first-child { font-size: 3.5em; }
	.custom-inside-s1 span:nth-child(2) { font-size: 1.5em; }
	.custom-inside-s1 span:nth-child(3) { font-size: 1.5em; }
	
	.w300 { width: 300px; }
	
	.log-title-s1 { font-size: 2em; }
	
	.quote-pic-s1 { background-position: 26.3% 5%; }
	.quote-pic-s2 { background-position: 4.1% 5%; }
		
}

/* Small devices - Tablets */
@media (min-width: 768px) { 
	.navbar-brand {
	    width: 180px;
	    height: 160px;
	}
	.navbar-header-s1 { margin: 30px 0 0 15px !important; }
	.title-s1 { font-size: 1.5em; }
	.title-s2 { font-size: 1.1em; }
	.title-s3 { font-size: 1.5em; }
	.new-list-4 { margin: 20px 0 20px 15px; }
	.slider-align { margin-top: 50px; }
	
	.nav-list li:first-child { display: inline-block; }
	.nav-list li:first-child a { margin: 10px auto 10px 30px; }
	.custom-btn-s1 {
		padding: 6px 0;
	    font-size: larger;
	}
	
	.carousel-caption { margin: 0 !important; padding: 20px; bottom: 0px; }
	.custom-btn-s2 {
	    width: 150px;
	    margin-left: 10px;
	}
	.mr50 { margin-right: 50px; }
	.mr66 { margin-right: 33px; }
	
	.input-s1 { width: 250px !important; }
	.input-s2 { width: 504px !important; }
	.input-s3 { width: 504px !important; }
	.input-s4 { width: 630px !important; }
	
	.w200 { width: 150px; }
	
	.nav-list li a { display: inline; float: left; margin-right: 15px; }
	.new-brL { border-left: 1px solid rgba(204,204,204,0); }
	.content_container-s1 { padding: 20px; }
	.input-mar-s1 { margin-left: 0px; }
	
	.custom-iteam-s1 { width: 296px; margin: 15px 15px 15px 10px; }
	.custom-iteam-s2 { width: 160px; margin: 15px 15px 15px 10px; }
	
	.custom-modal-s1 { width: 700px; }
	.right-cointer-s1 { height: 100%; position: absolute; }
	
	fieldset { width: 300px; }
	.custom-inside-s1 span:first-child { font-size: 4em; }
	.custom-inside-s1 span:nth-child(2) { font-size: 1.5em; }
	.custom-inside-s1 span:nth-child(3) { font-size: 1.5em; }
	
	.w300 { width: 300px; }
	
	.log-title-s1 { font-size: 1.5em; }
	
	.quote-pic-s1 { background-position: 26.3% 5%; }
	.quote-pic-s2 { background-position: 5.1% 5%; }
	
}

@media only screen and (min-width: 992px) and (max-width: 1024px) and (orientation : landscape) { 
	.navbar-brand {
	    width: 180px;
	    height: 180px;
	}
	.navbar-header-s1 { margin: 10px 0 0 10px !important; } 
	.title-s1 { font-size: 1.5em; }
	.title-s2 { font-size: 1.1em; }
	.title-s3 { font-size: 1.5em; }
	
	.new-list-4 { margin: 20px 0 20px 15px; }
	.slider-align { margin-top: -60px; }
	
	.nav-list li:first-child a { margin: 10px auto 20px 30px; }
	.custom-btn-s1 {
		padding: 6px 0;
	    font-size: larger;
	}
	
	.carousel-caption { margin: 0 !important; padding: 20px; bottom: 0px; }
	.custom-btn-s2 {
	    width: 150px;
	    margin-left: 10px;
	}
	.mr50 { margin-right: 50px; }
	.mr66 { margin-right: 14px; }
	
	.input-s1 { width: 250px !important; }
	.input-s2 { width: 501px !important; }
	.input-s3 { width: 504px !important; }
	.input-s4 { width: 300px !important; }
	
	.w200 { width: 200px; }
	
	.nav-list li a { display: block; float: none; margin-right: 0px; }
	.new-brL { border-left: 1px solid #CCC; }
	.content_container-s1 { padding: 20px; }
	.input-mar-s1 { margin-left: 20px; }
	
	.custom-iteam-s1 { width: 285px; margin: 15px 15px 15px 10px; }
	.custom-iteam-s2 { width: 160px; margin: 15px 15px 15px 10px; }
	
	.custom-modal-s1 { width: 900px; }
	.right-cointer-s1 { height: 100%; position: absolute; }
	
	fieldset { width: 300px; }
	.custom-inside-s1 span:first-child { font-size: 4em; }
	.custom-inside-s1 span:nth-child(2) { font-size: 1.5em; }
	.custom-inside-s1 span:nth-child(3) { font-size: 1.5em; }
	
	.w300 { width: 300px; }
	
	.log-title-s1 { font-size: 2.5em; }
	
	.quote-pic-s1 { background-position: 27.3% 5%; }
	.quote-pic-s2 { background-position: 5.1% 5%; }
		
}

@media (min-width: 1200px) {
   	
   /* 	.container { width: 1024px; } */
   
   .navbar-header-s1 { margin: 10px 0 0 10px !important; }
   .navbar-brand {
	    width: 200px;
	    height: 180px;
	}
   .title-s1 { font-size: 2em; }
   .title-s2 { font-size: 1.2em; }
   .title-s3 { font-size: 2em; }
   
   .new-list-4 { margin: 50px 0 50px 10px; }
   .slider-align { margin-top: -60px; }
   
   .nav-list li:first-child a { margin: 20px auto 30px 30px; }
   .custom-btn-s1 {
		padding: 6px 0;
	    font-size: larger;
	}
	
	.carousel-caption { margin: 0 !important; padding: 20px; bottom: 0px; }
	.content_container-s1 { width: 847.5px;padding-top:36px !important; }
	.custom-btn-s2 {
	    width: 125px;
	    margin-left: 10px;
	}
	.mr50 { margin-right: 50px; }
	.mr66 { margin-right: 66px; }
	
	.input-s1 { width: 274px !important; }
	.input-s2 { width: 758px !important; }
	.input-s3 { width: 250px !important; }
	.input-s4 { width: 350px !important; }
	.input-s5 { width: 165px !important; }
	
	.w200 { width: 200px; }
	
	.nav-list li a { display: block; float: none; margin-right: 0px; }
	.new-brL { border-left: 1px solid #CCC; }
	.content_container-s1 { padding: 20px; }
	.input-mar-s1 { margin-left: 20px; }
	
	.custom-iteam-s1 { width: 165px; margin: 15px 15px 15px 10px; }
	.custom-iteam-s2 { width: 165px; margin: 15px 15px 15px 10px; }
	
	.custom-modal-s1 { width: 1080px; }
	.right-cointer-s1 { height: 100%; position: absolute; }
	
	fieldset { width: 300px; }
	.custom-inside-s1 span:first-child { font-size: 4em; }
	.custom-inside-s1 span:nth-child(2) { font-size: 1.5em; }
	.custom-inside-s1 span:nth-child(3) { font-size: 1.5em; }
	
	.w300 { width: 250px; }
	
	.log-title-s1 { font-size: 2.25em; }
	
	.quote-pic-s1 { background-position: 21.3% 5%; }
	.quote-pic-s2 { background-position: 4.1% 5%; }
   
   
}


@media (min-width: 768px)
.navbar-toggle {
    display: block;
}
