<!-- Comment Added by RK -->
		    <div class="col-md-9 col-xs-12 bg-color-s1" style="position: relative;top: 130px; left: 0px;">
		    	<h3 class="font-black text-uppercase">About Us</h3>
				<hr class="header_s1">
				<div class="clearfix"></div>
			    <p>
				    Meal Time is a Daily Food Delivery system where Healthy and Hygiene diet is delivered to the doorstep on time
				    <br><br>

At Meal Time, we love feeding food lovers who are lazy to eat daily on time and so we deliver
Breakfast with a Juice @ 8am and Dinner with a Desert @ 8 pm
Meal Time has daily changing menus prepared by our talented home chefs to surprise our customers every day. It’s just not Timely and Tasty Home Cooked Food, we even care more about Quality.
<br><br>
We came up with the concept of Meal Time very recently and with the fast growing subscriptions, we are definitely lagging with a beautiful and interactive website which can act as a media between our Customers and the Management.
<br><br>
The main objective of this website is to show what Meal Time is and what it does. It also enables the users to see the menu of the next dinner/breakfast, to add items to the next meal from the list of available items, change his style of eating and save his choice. It also allows the user to cancel a particular Meal, view or change his address or contact information.
The visitor is often more impressed with how a website looks and how easy it is to use than about which technologies and techniques are used behind the scenes, or what operating system the web server is running. So we are just looking for an attractive, easy to use and performance rich website. We aren’t particular of the technologies being used.
<br><br>
			    </p>

				
		    </div>
		    	
	    