<div class="col-sm-12 col-md-9 col-lg-9">
		    <h3 class="font-black text-uppercase">Add Profile</h3>
		    <hr class="header_s1">
			<div class="clearfix"></div>
				<div class="clearfix mt20">
						  <!-- Nav tabs -->

						  <ul class="nav nav-tabs" role="tablist" style="float:right">
						    <li role="presentation" class="active"><a data-target="#basicInformation" aria-controls="basicInformation" role="tab" data-toggle="tab">Basic Information</a></li>
						    <li role="presentation"><a data-target="#foodStyle" aria-controls="foodStyle" role="tab" data-toggle="tab">Food Style</a></li>

						  </ul>
						  
						  <!-- Tab panes -->
						  <div class="tab-content tab-contentainer-s1">
						    <div role="tabpanel" class="tab-pane active" id="basicInformation">
							    
							    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								    
									<!-- <div class="profile-pic center-block">
									    <img src="images/propic.jpg">
									    <div class="profile-btn-bg">
										    <a href="#" class="profile-pic-btn">Upload Profile</a>
									    </div>
								    </div> -->
								    <div class="profile-pic center-block">
									    <img src="resources/images/propic.jpg">
									    <div class="profile-btn-bg">
											<input type="file" id="upload" onchange="showMyImage(this)" accept="image/*" data-data-ng-model="profilePic" style="visibility: hidden; width: 1px; height: 1px"/> 
										    <a href="#" onclick="document.getElementById('upload').click(); return false" class="profile-pic-btn">Upload Profile</a>
									    </div>
								    </div>
								    <h2 class="new-title-s1">Ramakrishna Rentala</h2>
								    <h4 class="new-title-s2">Subscribed</h4>
								    <h4 class="new-title-s3">MT6789MAD2NVS1</h4>

							    </div>
							    
							    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 new-brL">
								    
								<form name="form" data-ng-submit="editProfile()" class="form-inline mt20 input-mar-s1" novalidate>
								  <div class="form-group">
								    <input type="text" class="form-control mb10 input-s5 mr16" id="exampleInputEmail3" data-ng-model="editUser.firstName" placeholder="First Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]{1,25}$/"
										ng-minlength="3" ng-maxlength="20">
									<div class="clearfix"></div>
									<span data-ng-show="form.firstname.$dirty && form.firstname.$error.pattern"
										style="color: red">Enter only string.</span>
								 <span
	data-ng-show="form.firstname.$dirty  && form.firstname.$error.minlength">Minimum
										Length should be of 3 characters</span> <span
										data-ng-show="form.firstname.$dirty  && form.firstname.$error.maxlength">MaxLength
										should be of 20 characters</span>
								  </div>
								  <div class="form-group">
								    <input type="text" class="form-control mb10 input-s5" id="exampleInputEmail3" placeholder="Last Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]{1,25}$/" ng-minlength="3"  ng-maxlength="20" data-ng-model="editUser.lastName" class="form-control pull-left new-input-s1">
							    <div class="clearfix"></div>
							    <span data-ng-show="form.lastname.$dirty && form.lastname.$error.pattern" style="color:red">Enter only string.</span>
				     		    <span data-ng-show="form.lastname.$dirty  && form.lastname.$error.minlength">Minimum Length should be of 3 characters</span>
					           <span data-ng-show="form.lastname.$dirty  && form.lastname.$error.maxlength">MaxLength should be of 20 characters</span>
								  </div>
								  <div class="form-group">
								    <input type="text" class="form-control mb10 input-s4" id="exampleInputEmail3" placeholder="Email" data-ng-model="editUser.email">
								   <div class="clearfix"></div>
								  </div>
								  <div class="form-group">
								    <input type="text" class="form-control mb10 input-s4" id="exampleInputPassword3" data-ng-model="editUser.mobileNumber" name="mobileno"  data-ng-pattern="/^[789]\d{9}$/" ng-maxlength="10"  placeholder="Mobile Number">
							    <div class="clearfix"></div>
							    <span data-ng-show="form.mobileno.$dirty  && form.mobileno.$error.pattern"  style="color:red">Mobile number should Start with 7 or 8 or 9.</span>
				       	  	<span data-ng-show="form.mobileno.$dirty  && form.mobileno.$error.maxlength">MaxLength should be of 10 digits.</span>
								  </div>
								  <div class="form-group">
								    <textarea id="address" data-ng-model="editUser.address" class="form-control" rows="3"placeholder="Address" name="address" autocomplete="off" ng-maxlength="250"></textarea>
				    		  <span data-ng-show="form.address.$dirty && form.address.$error.maxlength">Maximum Length is 250 characters</span>
								  </div>
								  <div class="form-group">
								    <select class="form-control input-s5 mb10 mr16">
									  <option>Area</option>
									  <option>Madhapur</option>
									  <option>Banjara Hills</option>
									  <option>Hitech-city</option>
									</select>
								  </div>
								  <div class="form-group">
									<select class="form-control input-s5 mb10">
									  <option>City</option>
									  <option>Hyderabad</option>
									  <option>Mumbai</option>
									  <option>Banglore</option>
									</select>
								  </div>
								  <div>
									 <button type="submit" class="btn custom-btn-s2 pull-right">LATER</button>
								  	 <button type="submit" class="btn custom-btn-s2 pull-right">SAVE</button>
								  </div>
								</form>

							    </div>
								
								
						    </div> <!-- end tab content -->
						    
						    
						    
						    <div role="tabpanel" class="tab-pane" id="foodStyle">
							    
							    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								    
									<!-- <div class="profile-pic center-block">
									    <img src="images/propic.jpg">
									    <div class="profile-btn-bg">
										    <a href="#" class="profile-pic-btn">Upload Profile</a>
									    </div>
								    </div> -->
								    <div class="profile-pic center-block">
									    <img src="resources/images/propic.jpg">
									    <div class="profile-btn-bg">
											<input type="file" id="upload" onchange="showMyImage(this)" accept="image/*" data-ng-model="profilePic" style="visibility: hidden; width: 1px; height: 1px"/> 
										    <a href="#" onclick="document.getElementById('upload').click(); return false" class="profile-pic-btn">Upload Profile</a>
									    </div>
								    </div>
								    <h2 class="new-title-s1">Ramakrishna Rentala</h2>
								    <h4 class="new-title-s2">Subscribed</h4>
								    <h4 class="new-title-s3">MT6789MAD2NVS1</h4>

							    </div>
							    
							    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 new-brL">
								    
									
									  <div class="form-group">
									    <select class="form-control input-s4 mb10"  data-ng-model="editUser.foodStyleS1">
										  <option>Food Style</option>
										  <option ng-selected="editUser.foodStyleS1 == item.value" ng-repeat="item in foodType" ng-value="item.value">{{item.label}}</option>
										</select>
									  </div>
									  <div class="form-group">
										<select class="form-control input-s4 mb10" data-ng-model="editUser.foodStyleS2">
										  <option>Food Type</option>
										 <option ng-selected="editUser.foodStyleS2 == item.value" ng-repeat="item in foodStyle" ng-value="item.value">{{item.label}}</option>
										</select>
									  </div>
									  <div class="form-group">
										<select class="form-control input-s4 mb10">
										  <option>Dinner Choice</option>
										  <option>Dinner Choice 01</option>
										  <option>Dinner Choice 02</option>
										  <option>Dinner Choice 03</option>
										</select>
									  </div>
									  <div class="form-group">
										<select class="form-control input-s4 mb10">
										  <option>Packing Choice</option>
										  <option>Packing Choice 01</option>
										  <option>Packing Choice 02</option>
										  <option>Packing Choice 03</option>
										</select>
									  </div>
									  
									  <div>
										 <button type="submit" class="btn custom-btn-s2 pull-right">LATER</button>
									  	 <button type="submit" class="btn custom-btn-s2 pull-right">SAVE</button>
									  </div>
									</form>

							    </div>
								
								
						    </div> <!-- end tab content -->
						    
						  
							<div class="clearfix"></div>
						  </div>
						  
						  
						</div>
				
		    </div>
		    
		    
		    
