		    <div class="col-md-9 col-xs-12 bg-color-s1 pb20 pt10" style="position: relative;top: 130px; left: 0px;">
		    
		    <div id="succussSaveDiv" class="message_popup"></div>
		    
			    <div class="pull-left">
				    <h4 class="titile-02">AM Meal</h4>
				    <h5 class="titile-03">{{brkfstObj.status}}</h5>
				    <div class="pull-left clearfix">
				    
   				      <div data-ng-show="cancelledMsg" class="errorMessage" style="text-align: center;margin-bottom: 2px;">{{alertCancelledMsg}}</div>
				    
				    
					    <div class="pull-left custom-thumbs">
							<img data-ng-hide="cancelled" data-ng-src="{{brkfstObj.itemImage}}" alt="{{brkfstObj.itemName + 'Image'}}" class="img-thumbnail" width="180" height="115">
							<div class="radio custom-thumbs-title" style="text-align: center">
							   <label>
							      {{brkfstObj.itemName}}
							   </label>
							</div>
						</div>
				    </div>
				    <br>
				    <div class="pull-left clearfix" style="text-align: center">
					    <h5 class="titile-04">{{brkfstObj.itemDesc}}</h5>
				    </div>
				    
				    <div data-ng-show="show" class="pull-left clearfix add-on-bg-01">
				    	<h5 class="titile-05">Breakfast Add-on Meal's</h5>
					    <div class="pull-left custom-thumbs" data-ng-repeat="data in finalData">
							<img data-ng-src="{{data.imagePath}}" class="img-thumbnail" width="180" height="115">
							<div class="radio custom-thumbs-title" style="text-align: center">
							   <label class="radio h40">
							      {{data.itemName}}
							   </label>
							</div>
							<a class="btn btn-primary center-block mb8" role="button" data-ng-click="deleteItem(data);">Delete Add-on</a>
						</div>
				    </div>
				    
			    </div>
		    </div>
		    <div class="col-xs-12 col-md-9 col-md-offset-3">
		    <button class="btn btn-success addOn-btn-s1" data-ng-show="addbrkbtn" data-ng-click="addbrkfst(brkfstObj);">Add Breakfast</button>
		    	<button class="btn btn-success addOn-btn-s1" data-ng-show="showbtn" data-toggle="modal" data-target="#myAddonModal">Add - Add-on Meal</button>
		    	<button class="btn btn-success addOn-btn-s1" data-ng-show="showbtn" data-ng-click="cancelAllItems(brkfstObj);">Cancel Breakfast</button>
		    	<button class="btn btn-success addOn-btn-s1" data-ng-show="paymentbtn" data-ng-click="payment()">Payment</button>
		    
		    </div>
		    
		    	<!-- Add Add-on Modal -->
			    <div class="modal fade" id="myAddonModal">
				  <div class="modal-dialog max-w800 width-auto">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">Add - Add-on Meal</h4>
				      </div>
				      <div class="modal-body">
				      <div data-ng-show="alertShow" class="errorMessage" style="text-align: center;margin-bottom: 2px;">{{alertMsg}}</div>
				      	<div class="clearfix">
						  <!-- Nav tabs -->
						  <ul class="nav nav-tabs" role="tablist">
						    <li role="presentation" class="active"><a data-target="#breakfast" aria-controls="breakfast" role="tab" data-toggle="tab">Complementary</a></li>
						    <li role="presentation"><a data-target="#supplimentary" aria-controls="supplimentary" role="tab" data-toggle="tab">Supplementary</a></li>
						  </ul>
						
						  <!-- Tab panes -->
						  <div class="tab-content">
						    <div role="tabpanel" class="tab-pane active" id="breakfast">
							    <div class="pull-left custom-thumbs" data-ng-repeat="comple in complItems">
								    <img data-ng-src="{{comple.imagePath}}" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title" style="text-align: center">
								       <label class="radio">
								         <input type="checkbox" id="Radio_break1" name="selected" data-ng-model="comple.selected" data-ng-click="updateSelection($event);">{{comple.itemName}}
								       </label>
								   </div>
								</div>
								
						    </div> <!-- end tab content -->
						    
						    <div role="tabpanel" class="tab-pane" id="supplimentary">
						    	<div class="pull-left custom-thumbs" data-ng-repeat="suppl in suppleItems">
								    <img data-ng-src="{{suppl.imagePath}}" class="img-thumbnail" width="180" height="115">
								    <div id="new" class="radio custom-thumbs-title" style="text-align: center">
								       <label class="radio">
								         <input type="radio"  data-ng-model="$parent.favoriteSuppl" value="{{suppl.itemName}}" data-ng-click="updateSelectionSuppl($event);">{{suppl.itemName}}
								      </label>
								   </div>
								</div>
						    </div>
						  </div>
						</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-success" data-ng-click="addFinalItems();">Add</button>
				        <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->		
				
				
				 <!-- OTP Modal -->
			    <div class="modal fade" id="otpModal" data-backdrop="static" data-keyboard="false">
				  <div class="modal-dialog max-w400">
				    <div class="modal-content">
				      <div class="modal-header">
				        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
				        <h4 class="modal-title">One Time Password</h4>
				      </div>
				      <div class="modal-body">
				        <form>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">Please Enter OTP</label>
				            <input type="number" class="form-control" id="otp" ng-model="otp">
				          </div>
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="submit" class="btn btn-success" data-ng-click="verifyOTP()">Submit</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->