
	 
	  
		   
		    <div class="col-md-9 col-xs-12 bg-color-s1 pb20 pt10">
			    <div class="pull-left">
				    <h4 class="titile-02">AM Meal</h4>
				    <h5 class="titile-03">Breakfast - Select Meal</h5>
				    <div class="pull-left clearfix">
					    <div class="pull-left custom-thumbs">
							<img src="resources/images/ammeal/meal_01.jpg" class="img-thumbnail" width="180" height="115">
							<div class="radio custom-thumbs-title">
							   <label class="radio">
							      <input type="radio" name="select_breakmeal" id="select_breakmeal1">Masala Dosa
							   </label>
							</div>
						</div>​
						
						<div class="pull-left custom-thumbs">
							<img src="resources/images/ammeal/meal_02.jpg" class="img-thumbnail" width="180" height="115">
							<div class="radio custom-thumbs-title">
							   <label class="radio">
							      <input type="radio" name="select_breakmeal" id="select_breakmeal2" checked>Allam Chutney with Wada
							   </label>
							</div>
						</div>​
						
						<div class="pull-left custom-thumbs">
							<img src="resources/images/ammeal/meal_03.jpg" class="img-thumbnail" width="180" height="115">
							<div class="radio custom-thumbs-title">
							   <label class="radio">
							      <input type="radio" name="select_breakmeal" id="select_breakmeal3">Allam Chutney with Dosa
							   </label>
							</div>
						</div>​
				    </div>
				    
				    <div class="pull-left clearfix">
					    <h5 class="titile-04">Allam Chutney with Wada - Selected Meal info</h5>
					    <p>
						    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
					    </p>
				    </div>
				    
				    <div class="pull-left clearfix add-on-bg-01">
				    	<h5 class="titile-05">Breakfast Add-on Meal's</h5>
					    <div class="pull-left custom-thumbs">
							<img src="resources/images/ammeal/meal_01.jpg" class="img-thumbnail" width="180" height="115">
							<div class="radio custom-thumbs-title">
							   <label class="radio h40">
							      Masala Dosa
							   </label>
							</div>
							<a class="btn btn-primary center-block mb8" href="#" role="button">Delete Add-on</a>
						</div>​
						
						<div class="pull-left custom-thumbs">
							<img src="resources/images/ammeal/meal_02.jpg" class="img-thumbnail" width="180" height="115">
							<div class="radio custom-thumbs-title">
							   <label class="radio h40">
							      Allam Chutney with Wada
							   </label>
							</div>
							<a class="btn btn-primary center-block mb8" href="#" role="button">Delete Add-on</a>
						</div>​
						
				    </div>
				    
			    </div>
		    </div>
		    <div class="col-xs-12 col-md-9 col-md-offset-3">
		    	<a class="btn btn-success addOn-btn-s1" href="#myModalone" role="button" data-toggle="modal" >Add - Add-on Meal</a>
		    </div>
		    
		    	<!-- Add Add-on Modal -->
			    <div class="modal fade" id="myModalone" tabindex="-1" role="dialog">
				  <div class="modal-dialog max-w800 width-auto">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">Add - Add-on Meal</h4>
				      </div>
				      <div class="modal-body">
				      
				      	<div class="clearfix">
						  <!-- Nav tabs -->
						  <ul class="nav nav-tabs" role="tablist">
						    <li role="presentation" class="active"><a href="#breakfast" aria-controls="breakfast" role="tab" data-toggle="tab">Breakfast</a></li>
						    <li role="presentation"><a href="#supplimentary" aria-controls="supplimentary" role="tab" data-toggle="tab">Supplementary</a></li>
						  </ul>
						
						  <!-- Tab panes -->
						  <div class="tab-content">
						    <div role="tabpanel" class="tab-pane active" id="breakfast">
							    <div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_01.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_break" id="Radio_break1" checked>Allam Chutney
								       </label>
								   </div>
								</div>​
							    
							    <div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_02.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_break" id="Radio_break2">Pudina Chutney
								       </label>
								   </div>
								</div>​
								
								<div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_03.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_break" id="Radio_break3">Palli chutney
								       </label>
								   </div>
								</div>​
								
								<div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_04.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" id="Radio_break4" name="Radio_break">Allam + Palli chutney
								       </label>
								   </div>
								</div>​
								
								<div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_03.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_break" id="Radio_break5">Palli chutney
								       </label>
								   </div>
								</div>​
								
								<div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_04.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_break" id="Radio_break6">Allam + Palli chutney
								       </label>
								   </div>
								</div>​
								
								<div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_02.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_break" id="Radio_break7">Pudina Chutney
								       </label>
								   </div>
								</div>​
								
								<div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_01.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_break" id="Radio_break8">Palli chutney
								       </label>
								   </div>
								</div>​
								
						    </div> <!-- end tab content -->
						    
						    
						    
						    <div role="tabpanel" class="tab-pane" id="supplimentary">
						    	<div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_04.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_supp" id="Radio_supp1">Vegetables
								       </label>
								   </div>
								</div>​
						    
						    	<div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_01.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_supp" id="Radio_supp2">Beans
								       </label>
								   </div>
								</div>​
								
								<div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_02.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_supp" id="Radio_supp3" checked>Grains
								       </label>
								   </div>
								</div>​
								
								<div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_03.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_supp" id="Radio_supp4">veggie burgers
								       </label>
								   </div>
								</div>​
							    
							    <div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_02.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_supp" id="Radio_supp5">peanut butter
								       </label>
								   </div>
								</div>​
								
								<div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_03.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" id="Radio_supp6" name="Radio_supp">Grains + Beans
								       </label>
								   </div>
								</div>​
								
								<div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_04.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_supp" id="Radio_supp7">Allam + Palli chutney
								       </label>
								   </div>
								</div>​
								
								<div class="pull-left custom-thumbs">
								    <img src="resources/images/ammeal/meal_03.jpg" class="img-thumbnail" width="180" height="115">
								    <div class="radio custom-thumbs-title">
								       <label class="radio">
								         <input type="radio" name="Radio_supp" id="Radio_supp8">peanut butter + Grains
								       </label>
								   </div>
								</div>​
								
						    </div>
						    
						  </div>
						
						</div>
										        
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-success">Add</button>
				        <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->		
	    </div>
	    
	   
	    
   