   
		    <div class="col-md-9 col-xs-12 bg-color-s1" style="position: relative;top: 130px; left: 0px;">
		    	<h4 class="titile-02">Contact Us</h4>
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title titile-03">Offline Contact</h3>
				  </div>
				  <div class="panel-body">
				    <address>
						<strong class="titile-04">Meal Time - Online Food service</strong><br>
						Ho. No: D-015<br>
						Near: Vellanki Foods<br>
						Hitech-city, Madhapur<br>
						Hyderabad-500038<br>
						Telangana, INDIA<br><br>
						 
						Telephone No: +91 40 412345678<br>
						Mobile No: +91 9123456789
					</address>
				  </div>
				</div>
				
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title titile-03">Online Contact</h3>
				  </div>
				  <div class="panel-body">
				    Drop a Mail to us:  <a href="mailto:contact@mealtime.com">contact@mealtime.com</a><br> 
				    <div class="mt10"></div>
				    Visits our Website:  <a href="http://beta1.valueikon.com/index.html" target="_blank">http://www.mealtime.com</a>.<br> 
				  </div>
				</div>
				
		    </div>
		    	

	    
	   
	    
   