	<div class="col-sm-12 col-md-9 col-lg-9 headaline">
				<div class="content_container-s1 slider-align">
					<h3 class="font-black text-uppercase">TESTIMONIALS</h3>
					<hr class="header_s1">
					<div class="clearfix"></div>
					<div class="media crispy-bites-main crispy-bites-main-s1 quote-pic quote-pic-s1">
					  <div class="media-left">
					    <a href="#" class="crispy-bites-pic mr20 center-block">
					      <img class="media-object" src="resources/images/varun2.jpg" alt="...">
					    </a>
					  </div>
					  <div class="media-body">
					    <p class="text-quote">
					    	Hi, I am Varun Bansal from Delhi. I work as an HR executive at Novartis,Madhapur. Ever since I’ve subscribed to Meal Time, I don’t miss home food anymore. Aside, it’s fun eating with Meal Time. You should surely try once...
					  	</p>
					  	<h5 class="media-heading text-align-right font-bold">Varun Bansal,  from Delhi, working as HR Executive at Novartis</h5>
					  </div>
					</div>
					
					<div class="media crispy-bites-main crispy-bites-main-s2 quote-pic quote-pic-s2">
					  <div class="media-body">
					    <p class="text-quote">
					    	Getting bored of routine menus, their regular tastes and especially restaurant crawling, I tried Meal Time. The quality & taste of the food is quintessential. Everyday a surprise menu grabs my interest towards eating. They do 100% justice to the money we pay. Big cheers to Meal Time
					  	</p>
					  	<h5 class="media-heading text-align-right font-bold">Manjari, from Vijaywada, working as Fashion Designer in Banjara Hills</h5>
					  </div>
					  <div class="media-right">
					    <a href="#" class="crispy-bites-pic center-block">
					      <img class="media-object" src="resources/images/manjari.jpg" alt="...">
					    </a>
					  </div>
					</div>
					<div class="media crispy-bites-main crispy-bites-main-s1 quote-pic quote-pic-s1">
					  <div class="media-left">
					    <a href="#" class="crispy-bites-pic mr20 center-block">
					      <img class="media-object" src="resources/images/pradeep2.jpg" alt="...">
					    </a>
					  </div>
					  <div class="media-body">
					    <p class="text-quote">
					    	 My wife works in Chennai and stays with children. As I got transferred to Hyderabad couple of months back, she is often worried about my food and it was tough initially to find a solution. But now I'm a happy subscriber @Meal Time. I don't need to spend my time/energy thinking what to eat and preparing or finding good food daily. Meal Time guys know what I want. Its like eating at home. Good Luck! Thanks,Pradeep
					  	</p>
					  	<h5 class="media-heading text-align-right font-bold">Pradeep Paingat, from Cochin, working with HCL Technologies, Hitech City</h5>
					  </div>
					</div>
					
					<div class="media crispy-bites-main crispy-bites-main-s2 quote-pic quote-pic-s2">
					  <div class="media-body">
					    <p class="text-quote">
					    	I was told about Mealtime Subscription plan by one of my foodie friend I am totally thrilled with their delivery services and customized menu plans. Daily breakfast and dinner on time for the whole month is amazing. Like electricity bill, mobile bill and any other utility bill, now I pay my food bill just once in a month. Love, Snigda
					  	</p>
					  	<h5 class="media-heading text-align-right font-bold">Snigdha Ghosh, from Indore, working at Google, Hyderabad</h5>
					  </div>
					  <div class="media-right">
					    <a href="#" class="crispy-bites-pic center-block">
					      <!-- <span class="play"></span><span class="play-bg"></span> -->
					      <img class="media-object" src="resources/images/singda.jpg" alt="...">
					    </a>
					  </div>
					</div>
					<div class="media crispy-bites-main crispy-bites-main-s1 quote-pic quote-pic-s1">
					  <div class="media-left">
					    <a href="#" class="crispy-bites-pic mr20 center-block">
					      <img class="media-object" src="resources/images/veena.jpg" alt="...">
					    </a>
					  </div>
					  <div class="media-body">
					    <p class="text-quote">
					    	 Meal Time helped me achieve my fitness goals and adapt to healthy eating with its clean, hygienic food. Love their timely service and eco-friendly packing. I am a much healthier person now. #FeelingHealthyBest Regards, Veena
					  	</p>
					  	<h5 class="media-heading text-align-right font-bold">VeenaDasari, from New Delhi, working in Synchrony Financial, Hitech City</h5>
					  </div>
					</div>
					
					<div class="media crispy-bites-main crispy-bites-main-s2 quote-pic quote-pic-s2">
					  <div class="media-body">
					    <p class="text-quote">
					    	I got bored of eating outside and often skipped my breakfast. I prefer eating at home and the odds of ordering online is Coordination and turns out to be costly too… MealTime is simple. No more coordination issues and no more eating outside– John
					  	</p>
					  	<h5 class="media-heading text-align-right font-bold">Johnfy K Johnson from North India, working at Apollo Hospitals, Filmnagar</h5>
					  </div>
					  <div class="media-right">
					    <a href="#" class="crispy-bites-pic center-block">
					      <!-- <span class="play"></span><span class="play-bg"></span> -->
					      <img class="media-object" src="resources/images/johnfy.jpg" alt="...">
					    </a>
					  </div>
					</div>
					
				</div>
			</div>
			

    <script type="text/javascript">
    	//open a given url in a new tab by clicking a button
	    $("#openlink-1").click(function () {
			window.location = "index_admin.html"  //open on same tab
	  });
    </script>

