<div class="col-md-12">
			    	<ul class="new-list-4">
				    	<li><a href="#" class="fb"></a></li>
				    	<li><a href="#" class="tw"></a></li>
				    	<li><a href="#" class="gplus"></a></li>
				    	<li><a href="#" class="utube"></a></li>
			    	</ul>
		       </div>



 <!-- <div class="row">
		    <div class="col-md-7">
		    	<ul class="list-3">
		    		<li>&copy; 2016 Food Sense, all rights reserved.</li>
			    	<li><a href="#">Privacy Policy</a></li> <span>|</span>
			    	<li><a href="#">Terms of Use</a></li>
		    	</ul> 
				
		    </div>
		    <div class="col-md-5">
		    	<ul class="list-4">
			    	<li><a href="#" class="fb"></a></li>
			    	<li><a href="#" class="tw"></a></li>
			    	<li><a href="#" class="gplus"></a></li>
			    	<li><a href="#" class="utube"></a></li>
		    	</ul> 
				
		    </div>
	    </div> -->