	 <nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header navbar-header-s1">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
	
			      <a class="navbar-brand" href="" ui-sref="home"> <!-- <img alt="Meal Time" src="images/logo.png" width="200" height="100%"> --> </a>
			    </div>
					<!--<h1 class="title-s3 font-gray pull-right visible-xs">Healthy and Hygiene diet Delivered On Time</h1>
			     Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <div class="header">
			      <ul class="nav navbar-nav navbar-right nav-top mt20">
			        <li class="nav-list-headnav"><a ui-sref="ourstory({scrollTo: '0'})">Our Story</a></li>
			        <li class="nav-list-headnav"><a ui-sref="howitworks({count: '0'})">How it works</a></li>
			        <li class="nav-list-headnav"><a ui-sref="crispybites({scrollTo: '0'})">Crispy Bites</a></li>
			        <li class="nav-list-headnav"><a ui-sref="leavemessage">Leave a Message</a></li>
			      </ul>
			      </div>
			      <!-- <h1 class="title-s1 mt10 font-gray pull-right hidden-xs">Healthy and Hygiene diet Delivered On Time</h1> -->
			   <!-- <ul class="list-6 pull-right">
				<li>Welcome</li>
				<li>|</li>
				<li>{{userName}}</li>
				<li></li>
			</ul> -->
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
	</nav>
	  <script>
		    $('.nav-list-headnav').click(function(){
		    	$('.nav-list-sub1').removeClass('active');
		    	$('.nav-list-headnav').removeClass('active');
		    	$(this).addClass("active");
		    });
		    </script>
			