 <div class="row header-bg">
		    <div class="col-md-3 col-sm-3">
			    <div class="logo">Meal Time</div>
		    </div>
		    <div class="col-md-9 col-sm-9">
			    <ul class="list-1">
			    	<li><a href="#"><img src="resources/images/email.png">&nbsp; onlineorders@mealtime.com</a></li>
			    	<li><img src="resources/images/tele.png">&nbsp; +91 40-41234567</li>
			    	<li><img src="resources/images/iphone.png">&nbsp; +91 9123456789</li>
			    	<li><img src="resources/images/phonetime.png">&nbsp; Daily - 6AM to 12PM</li>
			    </ul>
			    <div class="clearfix"></div>
			    <h1 class="titile-01">Meal Time Online Food Ordering Service</h1>
			    <span style="float: right;">Welcome {{userName}}</span>
			    <li>
				    	<div class="btn-group pull-right dd-custom-s1 open">
			    	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="caret"></span>
				    </button>
					<ul class="dropdown-menu ">
						<li><a href="#">profile</a></li>
						</ul>
		    	</div>
			    	</li>
		    </div>
	    </div>
	    
	   