<div class="col-sm-12 col-md-9 col-lg-9 headaline">
	<h3 class="font-black text-uppercase">HOW IT WORKS</h3>
				<hr class="header_s1">
				<div class="clearfix"></div>

				<div>
					<div class="pull-left ">
						<div  class="media howitworks-thumb-main pull-left">
							<div id="0"  class="media-objectzoom howitwork-bites-pic-s1">
								<img class="media-object" src="resources/images/flavours.jpg" alt="...">
							</div>
						</div>
						<span class="glyphicon glyphicon-arrow-right howitworks-thumb-s1 pull-right" aria-hidden="true"></span>
					</div>
					
					<div class="pull-left">
						<div  class="media howitworks-thumb-main pull-left">
							<div id="1"  class="media-objectzoom howitwork-bites-pic-s1">
								<img class="media-object" src="resources/images/cooking.png" alt="...">
							</div>
						</div>
						<span class="glyphicon glyphicon-arrow-right howitworks-thumb-s1 pull-right" aria-hidden="true"></span>
					</div>
					
					<div class="pull-left">
						<div class="media howitworks-thumb-main pull-left">
							<div id="2"  class="media-objectzoom howitwork-bites-pic-s1">
								<img class="media-object" src="resources/images/packaging.jpg" alt="...">
							</div>
						</div>
						<span class="glyphicon glyphicon-arrow-right howitworks-thumb-s1 pull-right" aria-hidden="true"></span>
					</div>
					
					<div class="pull-left">
						<div  class="media howitworks-thumb-main pull-left">
							<div id="3"  class="media-objectzoom howitwork-bites-pic-s1">
								<img class="media-object" src="resources/images/delivery.jpg" alt="...">
							</div>
						</div>
						<span class="glyphicon glyphicon-arrow-right howitworks-thumb-s1 pull-right" aria-hidden="true"></span>
					</div>
					
					<div class="pull-left">
						<div  class="media howitworks-thumb-main pull-left">
							<div id="4"  class="media-objectzoom howitwork-bites-pic-s1">
								<img class="media-object" src="resources/images/payment.jpg" alt="...">
							</div>
						</div>
					</div>
					
				<div class="clearfix"></div>	
				<br>
				
				<h5 class="font-black text-uppercase howitworks-title center-block"> 
					<span class="glyphicon glyphicon-menu-left howitwork-NP mr20" ng-disable="leastvalue" aria-hidden="true" ng-click="previous()"></span>
						{{howrkvalue}}
					<span class="glyphicon glyphicon-menu-right howitwork-NP ml20" ng-disable="highest" aria-hidden="true" ng-click="next()"></span>
				</h5> <br>
				<div  ng-show="count==0">
				<p class="text-align-center center-block">
				<strong>Home Made Food - Exciting Menus – Different Food Styles. What else does anybody want?</strong><br><br>
				We have various options for you to choose from your favorite food style - be it NorthIndian/SouthIndian/Gujarati/Bengali/Rajasthani/Punjabi etc. Our Menu-Makers, with an "Every day New Menu" motto, constantly work round the clock to delight you with our innovative menus.
			    Get ready to be surprised with your mouth-watering special Meal at MealTime.   

				</p>
				<br>
				<h5 class="font-black text-uppercase howitworks-title center-block"> 
					Our favorite thing to do is to plan your next meal
				</h5> 
				</div>
				
				<div  ng-show="count==1">
				<p class="text-align-center center-block">
				<strong>Ofcourse Taste is a criteria at Mealtime. But, we care more about Quality Food.</strong><br><br>
				We developed an in house kitchen which will be operated by expert chefs who can prepare the food like homemade food. At Meal Time, It’s all about Quality, OnTime. Our chefs are well trained to maintain the hygiene, to use the quality ingredients, to prepare very delicious food.
				Example : We have different kitchens and different teams to cook for vegetarians and non-vegetarians separately.
				</p>
				<br>
				<h5 class="font-black text-uppercase howitworks-title center-block"> 
					With Mealtime, eating is just not tasty but healthy too
				</h5> 
				</div>
				
				<div ng-show="count==2">
				<p class="text-align-center center-block">
				<strong>We hate Polythene/Plastic Bags and leaky deliveries. We know you hate them too</strong><br><br>
				We did a lot of brainstorming and finally came up with specially designed eco-friendly boxes which eventually makes you fall in love with Meal Time.  Our expert Quality - Checking team will personally take care of the standards to pack the boxes.  It’s always recommended to get your boxes washed after eating, but the happy thing is you wash it or not, our In-House team do the hygienic wash at Meal Time campus.  

				</p>
				<br>
				<h5 class="font-black text-uppercase howitworks-title center-block"> 
					Hygiene is part of the package with MealTime 
				</h5> 
				</div>
				
				<div  ng-show="count==3">
				<p class="text-align-center center-block">
				<strong>You may be busy or free on any given day, your favorite fresh meal will be delivered on time</strong><br><br>
				We know how many of us miss breakfasts in rush and eating late night dinners due to busy schedules.  We are concerned about health of our customers. So we take the responsibility of delivering the food ON TIME. You please take the responsibility of having the food ON TIME.  

				</p>
				<br>
				<h5 class="font-black text-uppercase howitworks-title center-block"> 
					Hassle free daily food delivery makes eating fun
				</h5> 
				</div>
				<div ng-show="count==4">
				<p class="text-align-center center-block">
				<strong>Quality – Quantity – Tasty – At best prices</strong><br><br>
				We provide quality hygiene food with good quantity twice daily for the minimal prices. This includes taxes, our operations and technology expenses. We can proudly say that these prices are highly competitive with the present market.
				Also at Meal Time you can securely pay in our website. We are tied up with one of the most secured payment gateways. You still have flexibility to pay offline to our executives. 
  

				</p>
				<br>
				<h5 class="font-black text-uppercase howitworks-title center-block"> 
					No more holes to have a whole meal
				</h5> 
				</div>
				</div>
				 
	

</div>					
				
				
				
				