<div class="col-sm-12 col-md-9 col-lg-9 headaline" style="position: relative;top: 130px; left: 0px;">
				<div class="content_container-s1 slider-align">
					<h3 class="font-black text-uppercase inner-page-header">Leave a Message</h3>
					<hr class="header_s1">
					<div class="clearfix"></div>
					<div ng-show="leavemessageMsg" class="alert alert-success" >
  								<strong>Success!</strong>Thanks for the feedback.
						</div>
						<div ng-show="leavemessageErrorMsg" class="alert alert-danger" >
  								{{leavemessageErrorMsg}}
							</div>
					<p>
						We would be delighted to know more from you or make you know more about us. Tell us what you feel. 
       Drop in with your queries/ suggestions/ advice. We'll get in touch with you soon..
					</p>
					
					<form class="mt20" name="form" novalidate>
					  <div class="form-group">
					    <input type="text"  class="form-control mb10 input-s1" id="exampleInputEmail3" ng-model="leaveMessage.name"   ng-pattern="/^[a-zA-Z ]{1,25}$/" name="name" ng-minlength="3" required ng-maxlength="20" placeholder="Name">
					   <div class="clearfix"></div>
					   <div ng-show="leaveerrorcheck===false">
							    <span class="help-block" id="validationMessage" ng-show="form.name.$dirty  && form.name.$error.pattern" style="color:red">Enter a valid Name.</span>
				  				<span class="help-block" id="validationMessage" ng-show="form.name.$error.required">Name is required.</span>
								<span class="help-block" id="validationMessage" ng-show="form.name.$dirty  && form.name.$error.minlength">Enter a valid Name</span>
								<span class="help-block" id="validationMessage" ng-show="form.name.$dirty  && form.name.$error.maxlength">Enter a valid Name</span>
							  </div>
					  </div>
					  <div class="form-group">
					    <input type="email" class="form-control mb10 input-s1" id="exampleInputEmail3" ng-model="leaveMessage.email" name="email" placeholder="Email" required>
					  <div class="clearfix"></div> 
					  			   <div ng-show="leaveerrorcheck===false">
					 <span class="help-block" id="validationMessage"  ng-show="form.email.$error.required">Email is required</span>
					  <span class="help-block" id="validationMessage" ng-show="form.email.$error.email">Email is not valid.</span>
					  </div>
					  </div>
					  <div class="form-group">
					    <input type="text" class="form-control mb10 input-s1"  ng-model="leaveMessage.mobileNumber" data-ng-pattern=" /^[789]\d{9}$/" ng-maxlength="10" required name="mobileno" placeholder="+91">
					  <div class="clearfix"></div>
					  	<div ng-show="leaveerrorcheck===false">
						  <span class="help-block" id="validationMessage" ng-show="form.mobileno.$error.required">MobileNo is required.</span>
						    <span class="help-block" id="validationMessage" ng-show="form.mobileno.$dirty  && form.mobileno.$error.maxlength">Enter valid number.</span>
				   		  <span class="help-block" id="validationMessage" ng-show="form.mobileno.$dirty  && form.mobileno.$error.pattern">Enter valid number..</span>
					
					  </div>
					  </div>
					  <div class="form-group">
					    <textarea class="form-control mb10 input-s1" rows="3" ng-model="leaveMessage.comment" placeholder="Message" name="comment" ng-minlength="3" required ng-maxlength="50"></textarea>
					  <div class="clearfix"></div>
					  			   <div ng-show="leaveerrorcheck===false">
							     <span class="help-block" id="validationMessage" ng-show="form.comment.$error.required">Comment is required.</span>
						    <span class="help-block" id="validationMessage" ng-show="form.comment.$dirty  && form.comment.$error.maxlength">MaxLength should be of 50 characters.</span>
				   		  <span class="help-block" id="validationMessage" ng-show="form.comment.$dirty  && form.comment.$error.minlength">Minimum Length should be of 3 characters</span>
				</div>
					  </div>
					  
					  <div>
						 <button type="submit" class="btn custom-btn-s2 pull-right mr50"   ng-click="leavemsg(form.$valid)" >SEND</button>
					  </div>
					</form>
					
				</div>
			</div>