<div class="col-md-3 col-xs-12">
			    <ul class="list-2">
			    	<li><img src="resources/images/line.png" class="hidden-sm img-responsive center-block">
				    	<img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png">
				    	<img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png"><img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png">
			    	</li>
			    	<li><a ui-sref="home" class="active">Home</a></li>
			    	<li><a ui-sref="aboutus">About Us</a></li>
			    	<li><a ui-sref="profile">Profile</a></li>
			    	<li><a ui-sref="breakfast">AM Meal</a></li>
			    	<li><a ui-sref="dinner">PM Meal</a></li>
			    	<li><a ui-sref="payment">Payment</a></li>
			    	<li><a ui-sref="contactus">Contact US</a></li>
			    	<li><img src="resources/images/line.png" class="hidden-sm img-responsive center-block">
			    		<img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png"><img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png">
			    		<img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png">
			    	</li>
			    </ul>
		    </div>