<div class="col-md-3 col-xs-12" ng-show='newmenu'>		 
  <!-- <ul class="list-2">
			    	<li><img src="resources/images/line.png" class="hidden-sm img-responsive center-block">
				    	<img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png">
				    	<img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png"><img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png">
			    	</li>
			    	<li><a ui-sref="home" class="active menuSelect">Home</a></li>
			    	<li><a ui-sref="aboutus" class="menuSelect">About Us</a></li>
			    	<li><a ui-sref="profile">Profile</a></li>
			    	<li><a ui-sref="breakfast" class="menuSelect">AM Meal</a></li>
			    	<li><a ui-sref="dinner" class="menuSelect">PM Meal</a></li>
			    	<li><a ui-sref="payment" class="menuSelect">Payment</a></li>
			    	<li><a ui-sref="contactus" class="menuSelect">Contact US</a></li>
			    	<li><img src="resources/images/line.png" class="hidden-sm img-responsive center-block">
			    		<img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png"><img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png">
			    		<img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png">
			    	</li>
			    </ul> -->
			    
			    <ul class="new-list-2">
			    	<li><a data-ui-sref="ourstory" style="background: white;box-shadow: none;height: 80px;"><img  src="resources/images/ourstory.PNG" style="background: white;box-shadow: none;height: 80px;"></a></li>
			    	<li><a class="new-second-child page1menu" data-ng-click="modalShow()" data-ng-hide="profileShow"><u>Log in</u></a></li>
			    	<li><a class="new-second-child page1menu" data-ui-sref="profile" data-ng-show="profileShow">Profile</a></li>
			    	<li><a data-ui-sref="scheduleenquiry" class="page1menu">Schedule Enquiry</a></li>
			    	<li><a data-ui-sref="samplemeal" class="page1menu">Sample Meal</a></li>
			    	<li><a data-ui-sref="subscribenow" class="page1menu">Subscribe Now</a></li>
			    </ul>
</div>
		    
		    
<!-- <div class="col-md-3 col-xs-12" ng-hide='status'>
			    <ul class="list-2">
			    	<li><img src="resources/images/line.png" class="hidden-sm img-responsive center-block">
				    	<img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png">
				    	<img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png"><img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png">
			    	</li>
			    	<li><a ui-sref="adminhome" class="active">Access</a></li>
			    	<li><a ui-sref="adminprofile">Profile</a></li>
			    	<li><a ui-sref="adminbreakfast">Breakfast</a></li>
			    	<li><a ui-sref="admindinner">Dinner</a></li>
			    	<li><a ui-sref="adminpayment">Payment</a></li>
			    	
			    	<li><img src="resources/images/line.png" class="hidden-sm img-responsive center-block">
			    		<img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png"><img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png">
			    		<img class="hidden-xs hidden-md hidden-lg" src="resources/images/line.png">
			    	</li>
			    </ul>
		    </div>		    
 -->		    
		     