  
    <!-- <div class="container-fluid bg-pattern">
    <div class="container custom-container mt20 mb20">
 -->	   
	    <div data-ng-show="newmenu">
		    <!-- <div class="col-md-3 col-xs-12">
			    <ul class="new-list-2">
			    	<li><a href="our_story.html" class="new-first-child">Our Story</a></li>
			    	<li><a href="login_sample.html" class="new-second-child">Login</a></li>
			    	<li><a href="schedule_enquiry.html">Schedule Enquiry</a></li>
			    	<li><a href="sample_meal.html">Sample Meal</a></li>
			    	<li><a href="subscribe_now.html" class="active">Subscribe Now</a></li>
			    </ul>
			    
			   <div class="col-md-12">
			    	<ul class="new-list-4">
				    	<li><a href="#" class="fb"></a></li>
				    	<li><a href="#" class="tw"></a></li>
				    	<li><a href="#" class="gplus"></a></li>
				    	<li><a href="#" class="utube"></a></li>
			    	</ul>
		       </div>
		    
		    </div> -->
		    <div class="col-md-9 col-xs-12 bg-color-s1 pt10 pb10">
		    	<div class="row">
			    	<div class="col-lg-2"></div>
			    	<div class="col-lg-8">
						<h1 class="new-titile-01">Our Vision</h1><hr class="new-titile-01-liner">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</div>
					<div class="col-lg-2"></div>
				</div>
				
				<div class="col-lg-6">
					<h2 class="new-titile-02">Are you Lazy to Order Food</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
				<div class="col-lg-6">
					<h2 class="new-titile-02">Need Not to Order Everyday</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
				
				<div class="col-lg-6">
					<h2 class="new-titile-02">Health Comes First</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
				<div class="col-lg-6">
					<h2 class="new-titile-02">Exciting Menu Everyday</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
				
		    </div>
		    	
	    </div>
 
    </div>
	
	
	</div>
	 
    <!-- <script type="text/javascript">
    	//open a given url in a new tab by clicking a button
	    $("#openlink-1").click(function () {
			window.location = "index_admin.html"  //open on same tab
	  });
    </script> -->​