<div class="col-sm-12 col-md-9 col-lg-9 headaline">
<div class="content_container-s1 slider-align">
	<h3 class="font-black text-uppercase">WHO WE ARE</h3>
				<hr class="header_s1">
				<div class="clearfix"></div>

				<div class="media">
				  <div class="media-body">
Hello Co-Food Lovers!!! Just like you even we were tired of trying different restaurants around, browsing through various food delivery apps or home deliveries and sometimes cooking after pulling out time from a very busy schedule. Though these were good options, they could only serve as a change from routine but were never a healthy solution.
After a sour chase for the healthy routine, frustrated we, gave up finding for one.
We need home like food in a home like routine. Any given day, however busy we are, our favorite food should be waiting on the table.
We friends being from different fields(a doctor, few techies from IIT, an IIM alumni, an Australia returned Chef)  teamed up and after lot of brainstorming sessions, discussions, market analysis and research, came up with this concept of Meal Time.
We took this seriously and joined few more passionate guys to finish the recipe, well garnished and glazing too. Now we are successfully operating in most of the areas in Hyderabad.
Lets put an end to the coordination efforts we face for our daily food.

				  </div>
				  <div class="media-right">
				      <img class="media-object" src="resources/images/lockandlock_ysiq8a.jpg">
				  </div>
				</div>	
				
				<div class="jumbotron mt10 mb30">
				  <div class="media-left">
				      
					<div class="ourstory-bites-pic mr20 center-block">
					      <img class="media-object" src="resources/images/people.jpg" alt="...">
					</div>
				  </div>
				  <div class="media-body">
				  <h3 class="font-black text-uppercase">WE'LL PLAN YOUR MEAL</h3>
					
					-	Daily Breakfast & DinnerOn Time.
					We deliver homemade Breakfast @8am and Dinner @8pm daily.<br>
					-	Just say cancel if you have some other plans than eating at home.
					Immediate cash back on the cancelled meal.<br>
					-	We fix your menu daily and deliver it at your home. You continue being busy.
					The Menus are fixed by our experts to match your food style balancing taste and health and also considering your eating history for the last few days.We don’t want to bore you.<br>
					-	Just shout “Omelet” to add an omelet to your menu.
					We have a menu with variety of items for you to choose and add.<br>
					-	You have something else in mind to eat for today? Please replace our meal with your favorites.
					We have a menu with variety of items for you to choose and replace.

				  <!-- <button type="button" class="btn custom-btn-s2 pull-right mr20">LEARN MORE</button> -->
				  </div>
				</div>
				
			<!-- 	<h3 class="font-black text-uppercase">MEET OUR STAFF</h3>
				<hr class="header_s1">
				<div class="clearfix"></div>
			    
			    <div class="media-left">    
					<div class="media">
						<div class="pull-left mr5">      
							<div class="ourstaff-bites-pic mr20 center-block">
							      <img class="media-object" src="resources/images/propic.jpg" alt="...">
							</div>
					    	<h5 class="font-black text-uppercase ourstaff-title ">
					    		MOHAN DAS
					    		<br>
					    		COO
					    	</h5>
				    	</div>
				    	
				    	<div class="pull-left mr5">      
							<div class="ourstaff-bites-pic mr20 center-block">
							      <img class="media-object" src="resources/images/propic.jpg" alt="...">
							</div>
					    	<h5 class="font-black text-uppercase ourstaff-title ">
					    		PRIYANKA
					    		<br>
					    		COO
					    	</h5>
				    	</div>
				    	
				    	<div class="pull-left mr5">      
							<div class="ourstaff-bites-pic mr20 center-block">
							      <img class="media-object" src="resources/images/propic.jpg" alt="...">
							</div>
					    	<h5 class="font-black text-uppercase ourstaff-title ">
					    		RAVI
					    		<br>
					    		COO
					    	</h5>
				    	</div>
				    	
				    	<div class="pull-left mr5">      
							<div class="ourstaff-bites-pic mr20 center-block">
							      <img class="media-object" src="resources/images/propic.jpg" alt="...">
							</div>
					    	<h5 class="font-black text-uppercase ourstaff-title ">
					    		Bharth
					    		<br>
					    		COO
					    	</h5>
				    	</div>
				    	
					</div>
				</div>
				
				<div class="clearfix"></div> -->
				
				<h3 class="font-black text-uppercase">STRATEGY</h3>
				<hr class="header_s1">
				<div class="clearfix"></div>
				
				<div class="row">    
					<div class="media">
						<div class="pull-left col-md-4"> 
							<h5 class="font-black text-uppercase strategy-title"> OUR VISION </h5>     
							<div class="ourstaff-bites-pic center-block">
							      <img class="media-object" src="resources/images/propic.jpg" alt="...">
							</div>
					    	
					    	<p class="inner-page-description">
					    	Having started our operations at most of the major areas in Hyderabad, our team is working hard to make our services be available everywhere in the City and soon be available to every individual in all the major cities. And also we are soon coming up to cover all the food styles like Bengali, Rajasthani, Punjabi, Gujarati and with too many recipes in our menu for our customers to choose from. 6 to 24 months down the line, every individual in India or Abroad should be eating quality and home made food.
					    	</p>
				    	</div>
				    	
				    	<div class="pull-left col-md-4"> 
							<h5 class="font-black text-uppercase strategy-title"> OUR MISSION </h5>     
							<div class="ourstaff-bites-pic center-block">
							      <img class="media-object" src="resources/images/propic.jpg" alt="...">
							</div>
					    	
					    	<p class="inner-page-description">
					    	Yes, eating is inevitable. No excuses. And eating is the only thing that sets your standards of health.
							-	Eating Regularly<br>
							-	Eating On Time<br>
							-	Eating Hygiene Food<br>
							-	Eating with Comfort<br>
							-	Eating Tasty<br>
							Be it an individual working away from home or a busy working couple & family at home. Our only mission is to make every individual be able to check all these points with Meal Time services.

					    	</p>
				    	</div>
				    	
				    	<div class="pull-left col-md-4"> 
							<h5 class="font-black text-uppercase strategy-title"> OUR VALUES </h5>     
							<div class="ourstaff-bites-pic center-block">
							      <img class="media-object" src="resources/images/propic.jpg" alt="...">
							</div>
					    	
					    	<p class="inner-page-description">
					    	We at Meal Time, work with heart. We never compromise on Quality or Quantity. Be it our Delivery executive or our cook, we ensure that every meal box delivered from us is added with, LOVE.
					    	</p>
				    	</div>
				    	
				    	
				    	
				    	
					</div>
					
				</div>
				</div>
</div>		
				