<!DOCTYPE html>
<html lang="en">

  
		    <div class="col-md-9 col-xs-12 bg-color-s1" style="position: relative;top: 130px; left: 0px;">
		    	<h3 class="font-black text-uppercase">Payment Confirmation</h3>
		    	<hr class="header_s1">
					<div class="clearfix"></div>
				<div class="mb20">
				Thank you. Your monthly subscription of Meal Time is in progress.<br/>
				Our executive will reach you shortly and collect the payment directly.<br/>
				After payment confirmation, we will deliver our services.<br/>
				</div>
				
		    </div>
		    	
	   
	    
	   
	    
   