<!DOCTYPE html>
<html lang="en">

  
		    <div class="col-md-9 col-xs-12 bg-color-s1" ng-hide="isUserSubscribed">
		    	<h4 class="titile-02">Payment</h4>
				<div class="mb20">
					Please pay the amount for subscription.<br/>
					For monthly subscription - <b>Rs.3650.00</b><br/>
					And security deposit     - <b>Rs.1000.00</b>(This amount will be added to your MealTime wallet)<br/>
		 			Wallet amount can be used to order extra add-on items available to your meal.<br/>
		 			No other handling or services charges extra.
				</div>
				<div style="float:left;float: right;font-weight: bold;color: green;margin-right: 170px;">
				Total : Rs.4650.00<br/>
				</div>
				<br/>
				<button style="float: right;margin-right: 165px;" type="submit" class="btn btn-success" data-ng-click="proceed();">Proceed</button>
				
		    </div>
		    <div ng-show="isUserSubscribed">
		    <div class="col-md-9 col-xs-12 bg-color-s1" ng-show="isActive">
		    	<h4 class="titile-02">Your Subscription Details</h4>
				<div class="mb20">
					<label>Start Date: {{subscribeUserDetails.startDate}}</label><br/>
					<label>End Date: {{subscribeUserDetails.endDate}}</label><br/>
					<label>Wallet Amount: {{cash}}</label><br/>
				</div>
				<div ng-show="isCashEnough">
					Your wallet amount is less than Rs.1000. Please add the amount to the wallet.
				</div>
				<br/>
		    </div>
		    
		     <div class="col-md-9 col-xs-12 bg-color-s1" ng-hide="isActive">
		    	<h4 class="titile-02">Your Subscription Details</h4>
				<div class="mb20">
					<!-- <label>Start Date: {{subscribeUserDetails.startDate}}</label><br/>
					<label>End Date: {{subscribeUserDetails.endDate}}</label><br/> -->
					Your payment process is in progress. Our Meal Time team will reach you and collect the payment.<br/>
					Your subscription will be active once payment is done. Thank you!!!
				</div>
				<br/>
		    </div>
		    </div>
		    	
	   
	    
	   
	    
   