   <style>
   input.ng-invalid..ng-dirty{
    border: 1px solid red;
   }
   span{
   color:red;	
   }
   </style>
	    
	    <div class="col-md-9 col-xs-12 bg-color-s1 pb20 pt10">
	    <div id="succussSaveDiv" class="message_popup"></div>
		    <!--  View Profile div Start -->
		    <div class="col-md-9 col-xs-12 bg-color-s1" ng-hide="isEditForm">
		    	<h4 class="titile-02">View Profile</h4>
		    	<div class="clearfix">
		    	<img src="{{userProfilePic}}" style="width: 125px;height: 150px;" alt="..." class="img-thumbnail mb20 mr20 pull-left">
		    	<div class="form-group pull-left">
		    		<form class="form-inline edit-enable">
					  <div class="form-group">
					    <p class="editor">{{user.firstName}}</p>
					    <div class="clearfix"></div>
					    <p class="editor">{{user.mobileNumber}}</p>
					    <div class="clearfix"></div>
					    <p class="editor">{{user.email}}</p>
					    <div class="clearfix"></div>
					    <p class="editor">
					    	{{user.address}}
					    </p>
					  </div>
					</form>
		    	<div>
				    <button class="btn btn-success mt10" id="editorBtn" role="button" ng-click="isEditForm=true;">Edit Profile</button>	
				    <!-- <a class="btn btn-success mt10" ui-sref="viewprofile" id="editorBtn" role="button">Add Profile</a> -->
				</div>			 
				</div>
			    	<br><br>
		    	</div>
		    
			 </div>
			  <!--  View Profile div End --> 
			  
			 <!--  Edit Profile div Start-->
			 <div class="col-md-9 col-xs-12 bg-color-s1" ng-show="isEditForm">
		    	<h4 class="titile-02">Edit Profile</h4>
		    	
		    	<div class="row">
							<div class="col-md-12 col-xs-12">
		    	
		    <div  class="col-md-4 col-xs-4">
		    	<div class="clearfix">
		    	

    

		    	
		    	<img src="{{userProfilePic}}" alt="..." class="img-circle size" alt="example">
		    	<div class="form-group pull-left">
				    <label for="exampleInputFile">Upload Profile Picture</label>
				    <input type="file" id="profilePic" file-model ng-model="profilePic">
				    
				 </div>
			    	<br><br>
		    	</div>
		    	</div>
		    	
		    	<div class="col-md-8 col-xs-8">
		    	<form ng-submit="editProfile()" class="form-inline" novalidate >
		    	
		    	
		    	 <ul class="nav nav-tabs" role="tablist">
						    <li role="presentation" class="profileactive"><a data-target="#breakfast" aria-controls="breakfast" role="tab" data-toggle="tab"><strong>Basic Information</strong></a></li>
						  <li role="presentation"><a data-target="#supplimentary" aria-controls="supplimentary" role="tab" data-toggle="tab">Food Style</a></li>
						  </ul>
						
						  <!-- Tab panes -->
						  <div class="tab-content">
						    <div role="tabpanel" class="tab-pane active" id="breakfast">
						 <div class="form-group">
				    <input id="firstname" type="text" ng-model="editUser.firstName" name="firstname" autocomplete="off" ng-pattern="/^[a-zA-Z ]{1,25}$/" ng-minlength="3"  ng-maxlength="20" class="form-control" placeholder="First Name">
				  	 <span ng-show="form.firstname.$dirty && form.firstname.$error.pattern" style="color:red">Enter only string.</span>
				  	 		<span ng-show="form.firstname.$dirty  && form.firstname.$error.minlength">Minimum Length should be of 3 characters</span>
								<span ng-show="form.firstname.$dirty  && form.firstname.$error.maxlength">MaxLength should be of 20 characters</span>
				  	</div>
				  <div class="form-group">
				    <input id="lastname" type="text" name="lastname" autocomplete="off" ng-pattern="/^[a-zA-Z ]{1,25}$/" ng-minlength="3"  ng-maxlength="20" ng-model="editUser.lastName" class="form-control" placeholder="Last Name">
				      <span ng-show=" form.lastname.$dirty && form.lastname.$error.pattern" style="color:red">Enter only string.</span>
				      <span ng-show="form.lastname.$dirty  && form.lastname.$error.minlength">Minimum Length should be of 3 characters</span>
					  <span ng-show="form.lastname.$dirty  && form.lastname.$error.maxlength">MaxLength should be of 20 characters</span>
				  </div>
				  
				  <div class="form-group">
				    <input id="mobilenumber" type="text" ng-model="editUser.mobileNumber" name="mobileno"  data-ng-pattern="/^[789]\d{9}$/" ng-maxlength="10" class="form-control" placeholder="Mobile Number">
				       <span ng-show="form.mobileno.$dirty  && form.mobileno.$error.pattern"  style="color:red">Mobile number should Start with 7 or 8 or 9.</span>
				       	  	<span ng-show="form.mobileno.$dirty  && form.mobileno.$error.maxlength">MaxLength should be of 10 digits.</span>
				  </div>
				  <div class="form-group">
				    <input id="email" type="text" ng-model="editUser.email" class="form-control" placeholder="E-Mail">
				   <span ng-show="form.email.$dirty  && form.email.$error.$invalid">Invalid Email</span>
				  </div>	
				  <div class="form-group">
				    <textarea id="address" ng-model="editUser.address" class="form-control" rows="3"placeholder="Address" name="address" autocomplete="off" ng-maxlength="250"></textarea>
				    		  <span ng-show="form.address.$dirty && form.address.$error.maxlength">Maximum Length is 250 characters</span>
				  </div>
						    </div> <!-- end tab content -->
						    
						    <div role="tabpanel" class="tab-pane" id="supplimentary">
						    	  <div class="form-group">
				    <select class="form-control" ng-model="editUser.foodStyleS1">
         				<option value="">Select Food Type</option>
         				<option ng-selected="editUser.foodStyleS1 == item.value" ng-repeat="item in foodType" ng-value="item.value">{{item.label}}</option>
    				</select>
				    
				  </div>
				  <div class="form-group">
				    <select id="foodstyle" ng-model="editUser.foodStyleS2" class="form-control">
				    	<option value="">Select Food Style</option>
				    	<option ng-selected="editUser.foodStyleS2 == item.value" ng-repeat="item in foodStyle" ng-value="item.value">{{item.label}}</option>
				    </select>
				  </div>
						  </div>
		    	
		   </div>
				  <div>
				  	<button id="editprofilesubmit" type="submit" class="btn btn-success mb20" ng-disabled="form.$invalid" >Submit</button>
				  	<!-- <button id="editprofilesubmit" type="submit" class="btn btn-success mb20" >Submit</button> -->
				  	<a class="btn btn-success mb20" ng-click="isEditForm=false;" ui-sref="profile" id="editorBtn" role="button">Cancel</a>
				  </div>
				</form>
			 </div>
			 
			 <!--  Edit Profile div End -->
	
	    </div>
	    </div>
	    </div>
	    <!-- OTP Modal -->
			    <div class="modal fade" id="otpModal" data-backdrop="static" data-keyboard="false">
				  <div class="modal-dialog max-w400">
				    <div class="modal-content">
				      <div class="modal-header">
				        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
				        <h4 class="modal-title">One Time Password</h4>
				      </div>
				      <div class="modal-body">
				      <span style="color:red;">{{wrongOTPMsg}}</span>
				        <form>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">Please Enter OTP</label>
				            <input type="number" class="form-control" id="otp" ng-model="otp">
				          </div>
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="submit" class="btn btn-success" data-ng-click="verifyOTP()">Submit</button>
				        <button type="submit" class="btn btn-success" data-ng-click="cancelEdit('otpModal')">Cancel</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				
				<!-- Edit Success OTP Modal -->
			    <div class="modal fade" id="editSuccessModal" >
				  <div class="modal-dialog max-w400">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">Success</h4>
				      </div>
				      <div class="modal-body">
				        <form>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">Your Profile has been Updated Successfully</label>
				          </div>
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="submit" class="btn btn-success" data-ng-click="closeModal('editSuccessModal')">Ok</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
	       
    
	 