
	    
	    <div>
		    <!--  View Profile div Start -->
		    <div class="col-md-9 col-xs-12 bg-color-s1" ng-hide="isEditForm">
		    	<h4 class="titile-02">View Profile</h4>
		    	<div class="clearfix">
		    	<img src="images/{{user.mobileNumber}}.jpg" style="width: 125px;height: 150px;" alt="..." class="img-thumbnail mb20 mr20 pull-left">
		    	<div class="form-group pull-left">
		    		<form class="form-inline edit-enable">
					  <div class="form-group">
					    <p class="editor">{{user.firstName}}</p>
					    <div class="clearfix"></div>
					    <p class="editor">{{user.mobileNumber}}</p>
					    <div class="clearfix"></div>
					    <p class="editor">{{user.email}}</p>
					    <div class="clearfix"></div>
					    <p class="editor">
					    	{{user.address}}
					    </p>
					  </div>
					</form>
		    	<div>
				    <button class="btn btn-success mt10" id="editorBtn" role="button" ng-click="isEditForm=true;">Edit Profile</button>	
				    <!-- <a class="btn btn-success mt10" ui-sref="viewprofile" id="editorBtn" role="button">Add Profile</a> -->
				</div>			 
				</div>
			    	<br><br>
		    	</div>
		    
			 </div>
			  <!--  View Profile div End --> 
			  
			 <!--  Edit Profile div Start-->
			 <div class="col-md-9 col-xs-12 bg-color-s1" ng-show="isEditForm">
		    	<h4 class="titile-02">Edit Profile</h4>
		    	<div class="clearfix">
		    	<img src="images/{{user.mobileNumber}}.jpg" alt="..." style="width: 125px;height: 150px;" class="img-thumbnail mb20 mr20 pull-left">
		    	<div class="form-group pull-left">
				    <label for="exampleInputFile">Upload Profile Picture</label>
				    <input type="file" id="profilePic" file-model ng-model="profilePic">
				    <p class="help-block font-smaller">Picture Size is 140px X 140px</p>
				 </div>
			    	<br><br>
		    	</div>
		    	<form ng-submit="editProfile()" class="form-inline" >
				  <div class="form-group">
				    <input id="firstname" type="text" ng-model="user.firstName" class="form-control" placeholder="First Name">
				  </div>
				  <div class="form-group">
				    <input id="lastname" type="text" ng-model="user.lastName" class="form-control" placeholder="Last Name">
				  </div>
				  <div>
				  <div class="form-group">
				    <input id="mobilenumber" type="text" ng-model="user.mobileNumber" class="form-control" placeholder="Mobile Number">
				  </div>
				  <div class="form-group">
				    <input id="email" type="text" ng-model="user.email" class="form-control" placeholder="E-Mail">
				  </div>
				  <div class="form-group">
				    <select class="form-control" ng-model="user.foodStyleS1">
         				<option value="">Select Food Type</option>
         				<option ng-selected="user.foodStyleS1 == item.value" ng-repeat="item in foodType" ng-value="item.value">{{item.label}}</option>
    				</select>
				    
				  </div>
				  <div class="form-group">
				    <select id="foodstyle" ng-model="user.foodStyleS2" class="form-control">
				    	<option value="">Select Food Style</option>
				    	<option ng-selected="user.foodStyleS2 == item.value" ng-repeat="item in foodStyle" ng-value="item.value">{{item.label}}</option>
				    </select>
				  </div>
				  <div class="form-group">
				    <textarea id="address" ng-model="user.address" class="form-control" rows="3"placeholder="Address"></textarea>
				  </div>
				  <div>
				  	<button id="editprofilesubmit" type="submit" class="btn btn-success mb20">Submit</button>
				  	<!-- <a class="btn btn-success mb20" ui-sref="profile" id="editorBtn" role="button">View Profile</a> -->
				  </div>
				</form>
			 </div>
			 
			 <!--  Edit Profile div End -->
	
	    </div>
	    
	   
	       
    
	 