     <style>
   input.ng-invalid..ng-dirty{
    border: 1px solid red;
   }
   span{
   color:red;	
   }
   </style>
  <div data-ng-show="newmenu">
	    <div class="col-md-9 col-xs-12 bg-color-s1 pt10 pb10">
		    	<div class="row">
			    	<div class="col-lg-8">
						<h4>Sample Meal</h4><hr>
						<div ng-show="sampleMealMsg" class="alert alert-success" >
  								<strong>Success!</strong>Sample Meal order has been received.
						</div>
						<div ng-show="sampleMealErrorMsg != ''" class="alert alert-danger" >
  								{{sampleMealErrorMsg}}
							</div>
						<p>Breakfast with juice and dinner with dessert will be delivered for one day for a minimum cost of Rs. 185.00/-</p>
						<p>100% cashback will be credited into your wallet once you subscribe. Let us know your convinient date for the sample breakfast & Dinner</p>
						<form class="mt20" name="form" novalidate>
						  <div class="form-group col-lg-8">
							<label for="name">Name</label>
							<input type="text" ng-model="sampleMeal.name" class="form-control" id="name" ng-pattern="/^[a-zA-Z ]{1,25}$/" name="name" ng-minlength="3" required ng-maxlength="20">
						 		<span ng-show="form.name.$dirty  && form.name.$error.pattern" style="color:red">Enter only String.</span>
				  				<span ng-show="form.name.$dirty  && form.name.$error.required">First name is required.</span>
								<span ng-show="form.name.$dirty  && form.name.$error.minlength">Minimum Length should be of 3 characters</span>
								<span ng-show="form.name.$dirty  && form.name.$error.maxlength">MaxLength should be of 20 characters</span>
						  </div>
				
						  <div class="form-group col-lg-8">
							<label for="phone">Phone Number</label>
							<input type="text" ng-model="sampleMeal.mobileNumber"  data-ng-pattern=" /^[789]\d{9}$/" ng-maxlength="10" class="form-control" id="phone" required name="mobileno">
							 <span ng-show="form.mobileno.$dirty  && form.mobileno.$error.required">MobileNo is required.</span>
				   		  <span ng-show="form.mobileno.$dirty  && form.mobileno.$error.pattern">Mobile number should Start with 7 or 8 or 9.</span>
				   		  	<span ng-show="form.mobileno.$dirty  && form.mobileno.$error.maxlength">MaxLength should be of 10 digits.</span>
						  </div>
						 
						  <div class="form-group col-lg-8">
							<label for="phone">Date</label>
							<div class="input-append date  no-padding"  id="sampledate">
								<input class="input-medium" ng-model="sampleMeal.date" id="sampleMealDate" size="16" type="text" name="date" required><span class="add-on glyphicon glyphicon-calendar" style="border: 1px solid #A9A9A9;padding: 5px;"></span>
							</div>
							  <span ng-show="form.date.$dirty  && form.date.$error.required">Date is required.</span>
						  </div>
						     
						  <div class="form-group col-lg-8">
							<label for="phone">Area</label>
							<select id="area" style="height: 30px;display: block;border-radius: 3px;" required name="area">
								<option value="">Select Area</option>
								<option value="madhapur">Madhapur</option>
								<option value="gachibowli">Gachibowli</option>
							</select>
						  </div>
						  <span ng-show="form.area.$dirty  && form.area.$error.required">Area is required.</span>
			<!-- 			    <div class="form-group">
						    <label class="control-label col-sm-2">Area</label>
						     <div class="col-sm-4">
							<select id="area"  class="form-control" ng-model="sched.area" style="height: 30px;display: block;border-radius: 3px;" required name="area">
								<option value="">Select Area</option>
								<option value="madhapur">Madhapur</option>
								<option value="gachibowli">Gachibowli</option>
							</select>	
							</div>	
						</div>
						<span ng-show="form.area.$dirty  && form.area.$error.required">Area is required.</span> -->
						  <div class="form-group pull-right">
							  <button type="submit" ng-disabled="form.$invalid" ng-click="requestSampleMeal()" class="btn btn-success ml10">Confirm & Pay</button>
							  <button type="submit"  class="btn btn-success">Later</button>
						  </div>
						</form>
					</div>
					<div class="col-lg-4">
					</div>
				</div>				
		    </div>
	    </div>
	    
	    
	    <!-- OTP Modal -->
			    <div class="modal fade" id="otpModal" data-backdrop="static" data-keyboard="false">
				  <div class="modal-dialog max-w400">
				    <div class="modal-content">
				      <div class="modal-header">
				        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
				        <h4 class="modal-title">One Time Password</h4>
				      </div>
				      <div class="modal-body">
				       <span style="color:red;">{{wrongOTPMsg}}</span>
				        <form>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">Please Enter OTP</label>
				            <input type="number" class="form-control" id="otp" ng-model="sampleMeal.otp">
				          </div>
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="submit" class="btn btn-success" data-ng-click="verifyOTP()">Submit</button>
				        <button type="submit" class="btn btn-success" data-ng-click="closeModal('otpModal')">Cancel</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
	
	    
 
    <!-- <script type="text/javascript">
    	//open a given url in a new tab by clicking a button
	    $("#openlink-1").click(function () {
			window.location = "index_admin.html"  //open on same tab
	  });
    </script> -->
    <script>
		$(document).ready(function() {
			var d = new Date();
			var curr_day = d.getDate();
			var curr_month = d.getMonth() + 1;
			var curr_year = d.getFullYear();
			var today = curr_day + "-" + curr_month + "-" + curr_year;
			$("div.datepicker input").attr('value', today);
			
			$('#sampledate').datetimepicker({
				autoclose: true,
				pickTime:false
				 //format: "dd/mm/yyyy"
			});
		});
	</script>