	<div class="col-sm-12 col-md-9 col-lg-9 headaline">
				<div class="content_container-s1 slider-align">
					<h3 class="font-black text-uppercase inner-page-header">SAMPLE MEAL</h3>
					<hr class="header_s1">
					<div class="clearfix"></div>
					<div ng-show="sampleMealMsg" class="alert alert-success" >
  								<strong>Success!</strong>Sample Meal order has been received.
						</div>
						<div ng-show="sampleMealErrorMsg != ''" class="alert alert-danger" >
  								{{sampleMealErrorMsg}}
							</div>
					<p class="inner-page-description">
						Breakfast with Juice and Dinner with Dessert will be delivered for one day for a minimum<br> cost of Rs. 185/-.
						</p>
						<p class="inner-page-description">Let us know your convenient date for the Sample Meal.</p>
					
					
					<form class="mt20" name="form" novalidate style="margin: 15px">
					  <div class="row form-group">
					    <input type="text" class="form-control mb10 input-s1" id="exampleInputname" placeholder="Name" ng-model="sampleMeal.name"   ng-pattern="/^[a-zA-Z ]{1,25}$/" name="name" ng-minlength="3" required ng-maxlength="20">
							    <div class="clearfix"></div>
							    <div ng-show="samerrorcheck===false">
							    <span class="help-block" id="validationMessage" ng-show="form.name.$dirty  && form.name.$error.pattern" style="color:red">Enter only valid name..</span>
				  				<span class="help-block" id="validationMessage" ng-show="form.name.$error.required">Name is required.</span>
								<span class="help-block" id="validationMessage" ng-show="form.name.$dirty  && form.name.$error.minlength">Enter only valid name.</span>
								<span class="help-block" id="validationMessage" ng-show="form.name.$dirty  && form.name.$error.maxlength">Enter only valid name.</span>
							   </div>
					  </div>
					  
					  <div class="row form-group">
					    <input type="text" class="form-control mb10 input-sm input-s1" id="exampleInputPassword3" id="exampleInputname" placeholder="+91" ng-model="sampleMeal.mobileNumber" ng-readonly="loggedUser" data-ng-pattern="/^[789][0-9]/" ng-minlength="10" ng-maxlength="10" required name="mobileno">

							    <div class="clearfix"></div>
							    <div ng-show="samerrorcheck===false">
							     <span class="help-block" id="validationMessage" ng-show="form.mobileno.$error.required">MobileNo is required.</span>
						    <span  class="help-block" id="validationMessage" ng-show="form.mobileno.$error.minlength || form.mobileno.$error.maxlength">Enter vaild mobile number.</span>
				   		  <!-- <span id="validationMessage" ng-show="form.mobileno.$dirty  && form.mobileno.$error.pattern">Mobile number should Start with 7 or 8 or 9.</span> -->
					  </div>
					  </div>
					  <div class="row form-group">
					    <select class="form-control input-s1 mb10" ng-model="sampleMeal.date" id="sampleMealDate" name="date" placeholder="Date" required>
						 <option value="" disabled selected style="display: none;">Date</option>
						  <option ng-repeat="date in sampcustomdates" value="{{date}}"> {{date}}</option>
						</select>
						
							    <div class="clearfix"></div>
							   <div ng-show="samerrorcheck===false">
						 <span class="help-block" id="validationMessage" ng-show="form.date.$error.required">Date is required.</span>
						 </div>
					  </div>
					 
					  <div class="row form-group">
					    <select class="form-control input-s1 mb10"  ng-model="sampleMeal.area" name="area" id="area" required>
						  <option value="" disabled selected style="display: none;">Area</option>
						 <option value="Madhapur_Police_Station">Madhapur Police Station</option>
						 <option value="Madhapur_100_feet_Road">Madhapur 100 feet Road</option>
						 <option value="Madhapur_Hitech_City_Road">Madhapur Hitech City Road</option>
						 <option value=" Madhapur_Kavuri_Hills_Phase_I"> Madhapur Kavuri Hills Phase I</option>
						 <option value="Madhapur_Kavuri_Hills_Phase_II">Madhapur Kavuri Hills Phase II</option>
						 <option value="Madhapur_Megha_Hills">Madhapur Megha Hills</option>
						 <option value="Madhapur_Ayyappa_Society">Madhapur Ayyappa Society</option>
						 <option value="Madhapur_Hitech_City">Madhapur Hitech City</option>
						 <option value="Madhapur_Image_Hospital_Road">Madhapur Image Hospital Road</option>
						 <option value="Madhapur_Image_Garden_Road">Madhapur Image Garden Road</option>
						</select>
							    <div class="clearfix"></div>
							    <div ng-show="samerrorcheck===false">
							    <span class="help-block" id="validationMessage" ng-show="form.area.$error.required">Area is required.</span>
							  </div>
						  
					  </div>
					  <div class="row form-group">
					  
						 <button type="submit" class="btn custom-btn-s2 pull-right mr50"  data-ng-click="sanotNow();">LATER</button>
					  	 <button type="submit" class="btn custom-btn-s2 pull-right"  ng-click="requestSampleMeal(form.$valid)" >CONFIRM & PAY</button>
					  </div>
					</form>
					
				</div>
			</div>
			
			<!-- OTP modal -->
			<div class="modal fade" id="otpModal" data-backdrop="static" data-keyboard="false">
				  <div class="modal-dialog max-w400">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">One Time Password</h4>
				      </div>
				      <div class="modal-body">
				       <span id="validationMessage">{{wrongOTPMsg}}</span>
				        <form>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">Please Enter OTP</label>
				            <input type="number" class="form-control" id="otp" ng-model="sampleMeal.otp">
				          </div>
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="submit" class="btn btn-success" data-ng-click="verifyOTP()">Submit</button>
				        <button type="submit" class="btn btn-success" data-ng-click="closeModal('otpModal')">Cancel</button>
				      </div>
				    </div>
				  </div>
				</div>
	
	    
 
    <script type="text/javascript">
    	//open a given url in a new tab by clicking a button
	    $("#openlink-1").click(function () {
			window.location = "index_admin.html"  //open on same tab
	  });
    </script>
    <script>
		$(document).ready(function() {
			var d = new Date();
			var curr_day = d.getDate();
			var curr_month = d.getMonth() + 1;
			var curr_year = d.getFullYear();
			var today = curr_day + "-" + curr_month + "-" + curr_year;
			$("div.datepicker input").attr('text',today);
			
			$('#samplemeal').datetimepicker({
				autoclose: true,
				pickTime:false
				 //format: "dd/mm/yyyy"
			});
		});
	</script>
