<div class="col-md-9 col-xs-12 bg-color-s1 pt10 pb10">    	
						<h4 class="titile-02">Schedule A visit</h4>
						<p>MealTime’s Executive shall visit you at your place to explain you about our meal boxes & Our Services
							<br><br>
just let us know your convenient time.</p>
						<br>
						<div class="col-lg-6">
							<form>
							  <div class="form-group">
							    <label for="exampleInputname" class="new-label-s1">Name</label> <div class="clearfix"></div>
								<div class="btn-group pull-left">
								  <button type="button" class="btn btn-default dropdown-toggle-s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    Ms. <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu">
								    <li><a href="#">Ms.</a></li>
								    <li><a href="#">Mr.</a></li>
								    <li><a href="#">Mrs.</a></li>
								  </ul>
								</div>
							    <input type="email" class="form-control pull-left new-input-s1" id="exampleInputname" placeholder="Mohan Das">
							    <div class="clearfix"></div>
							  </div>
							  
							  <div class="form-group">
							    <label for="exampleInputname" class="new-label-s1">Phone Number</label> <div class="clearfix"></div>
								<div class="btn-group pull-left custom-iconbg-s1">
								  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
								</div>
							    <input type="email" class="form-control pull-left new-input-s1" id="exampleInputname" placeholder="+91 9030399160">
							    <div class="clearfix"></div>
							  </div>
							  
							  <div class="form-group">
							    <label for="exampleInputname" class="new-label-s1">Date</label> <div class="clearfix"></div>
								<div class="btn-group pull-left custom-iconbg-s1">
								  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
								</div>
							    <input type="text" name="date" required="" class="form-control pull-left new-input-s1 input-medium ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" id="datetimePicker" data-ng-model="sched.date">
							    <div class="clearfix"></div>
							  </div>
							  
							  <div class="form-group">
							    <label for="exampleInputname" class="new-label-s1">Time</label> <div class="clearfix"></div>
								<div class="btn-group pull-left custom-iconbg-s1">
								  <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
								</div>
							    <input type="text" name="date" required="" class="form-control pull-left new-input-s1 input-medium ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" id="timePicker" ng-model="sched.time">
							    <div class="clearfix"></div>
							  </div>
							
							  <div class="form-group">
							    <label for="exampleInputname" class="new-label-s1">Area</label> <div class="clearfix"></div>
								<div class="btn-group pull-left custom-iconbg-s1">
								  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
								</div>
							    <select class="new-select-s1">
							    	<option>Madhapur</option>
							    	<option>Ameerpet</option>
							    	<option>Banjara Hills</option>
							    </select>
							    <div class="clearfix"></div>
							  </div>
							  
							  <button type="submit" class="btn btn-success mt20 mr10">Conform</button>
							  <button type="submit" class="btn btn-success mt20">Later</button>
							  </div>
							</form>
						</div>