 <div class="col-sm-12 col-md-9 col-lg-9 headaline">
				<div class="content_container-s1 slider-align">
					<h3 class="font-black text-uppercase inner-page-header">SUBSCRIPTION FORM</h3>
					<hr class="header_s1">
					<div class="clearfix"></div>
					<div id="succussSaveDiv" data-ng-show="successMsg" class="alert alert-success"></div>
					    	<div data-ng-show="subscribeNowErrorMsg != ''" class="alert alert-danger" >
			  								{{subscribeNowErrorMsg}}
										</div>
					<p class="inner-page-description">
						Breakfast with juice and dinner with dessert will be delivered for one month for a minimum cost of Rs.3650/-plus Rs.1000/- towards your Pocket Points for you to instantly buy/add/customise items.
					</p>	

					

					<p class="inner-page-description">Recommendation: You may know more about our services by scheduling a visit or even try our sample meal.</p>
					
					<form class="mt20" name="form" novalidate style="margin: 15px">
					  <div class="form-group row">
					    <input type="text" class="form-control mb10 input-s1"  data-ng-model="subscribe.firstName"  ng-pattern="/^[a-zA-Z ]{1,25}$/" name="name" placeholder="Name" ng-minlength="3" required ng-maxlength="20">
						 		<div ng-show="suberrorcheck===false">
						 		<span id="validationMessage" data-ng-show="form.name.$dirty  && form.name.$error.pattern">Enter vaild name</span>
				  				<span id="validationMessage" data-ng-show="form.name.$error.required">Name is required.</span>
								<span id="validationMessage" data-ng-show="form.name.$dirty  && form.name.$error.minlength">Enter vaild name</span>
								<span id="validationMessage" data-ng-show="form.name.$dirty  && form.name.$error.maxlength">Enter vaild name</span>
					 </div>
					  </div>
					 <!--  <div class="form-group row">
					    <input type="text" class="form-control mb10 input-s1" id="exampleInputEmail3" data-ng-model="lastName" ng-pattern="/^[a-zA-Z ]{1,25}$/" placeholder="lastname" name="lastname" ng-minlength="3" ng-maxlength="20" required="">
							<span data-ng-show="form.lastname.$dirty   &&    form.lastname.$error.pattern" style="color:red">Enter only String.</span>
				  				<span data-ng-show="form.lastname.$dirty  && form.lastname.$error.required">Lastname is required.</span>
								<span data-ng-show="form.lastname.$dirty  && form.lastname.$error.minlength">Minimum Length should be of 3 characters</span>
								<span data-ng-show="form.lastname.$dirty  && form.lastname.$error.maxlength">MaxLength should be of 20 characters</span>
					  </div> -->
					  <div class="form-group row">
					    <input class="form-control mb10 input-s1" id="exampleInputPassword3" data-ng-model="subscribe.mobileNumber" ng-readonly="loggedUser" data-ng-pattern="/^[789]\d{9}$/" ng-minlength="10" ng-maxlength="10"  placeholder="mobileno" name="mobileno" required="">
							<div ng-show="suberrorcheck===false">
						   <span id="validationMessage" data-ng-show="form.mobileno.$error.required">MobileNo is required.</span>
						    <span id="validationMessage" data-ng-show="form.mobileno.$error.minlength || form.mobileno.$error.maxlength">Enter vaild mobile number.</span>
				   		  <!-- <span id="validationMessage" data-ng-show="form.mobileno.$dirty  && form.mobileno.$error.pattern">Mobile number should Start with 7 or 8 or 9.</span> -->
							</div>
					  </div>
					<div class="form-group row">
                    <input class="form-control mb10 input-s1 input-append date form_date" name="date" data-ng-model="subscribe.date" id="subscribeDate" data-date="" required data-date-format="dd MM yyyy"  placeholder="Date">
                   
					<div class="clearfix"></div>
					<div ng-show="suberrorcheck===false">
							    <span id="validationMessage" data-ng-show="form.date.$error.required">Date is required.</span>
            </div>
            </div>
					  
					 
					  <div class="form-group row">
					  <select class="form-control input-s1 mb10" data-ng-model="subscribe.area" required name="area" id="area" required>
									     <option value="" data-ng-selected="true">Area</option>
									     <option data-ng-selected="{{item.value == sched.area}}"  data-ng-repeat="item in areaList" value="{{item.value}}">{{item.value}}</option>
									</select>
							    <div class="clearfix"></div>
							    <div ng-show="suberrorcheck===false">
							    <span id="validationMessage" data-ng-show="form.area.$error.required">Area is required.</span>
					  </div>
					  </div>
					  <div>
						 <button type="submit" class="btn custom-btn-s2 pull-right mr50"  data-ng-click="sbnotNow();">LATER</button>
					  	 <button type="submit" class="btn custom-btn-s2 pull-right"  ng-click="requestSubscribeNow(form.$valid)">CONFIRM</button>
					  </div>
					</form>
					
				</div>
			</div>
		</div>
		<div class="modal fade" id="otpModal" data-backdrop="static" data-keyboard="false">
				  <div class="modal-dialog max-w400">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">One Time Password</h4>
				      </div>
				      <div class="modal-body">
				       <span id="validationMessage">{{wrongOTPMsg}}</span>
				        <form>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">Please Enter OTP</label>
				            <input type="text" class="form-control mb10 input-s1" data-ng-model="otp">
				          </div>
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="submit" class="btn btn-success" data-ng-click="verifyOTP()">Submit</button>
				        <button type="submit" class="btn btn-success" data-ng-click="closeModal('otpModal')">Cancel</button>
				      </div>
				    </div>
				  </div>
				</div>
				<script type="text/javascript">
    	//open a given url in a new tab by clicking a button
	    $("#openlink-1").click(function () {
			window.location = "index_admin.html"  //open on same tab
	  });
    </script>
   <!-- <script>
   $(function () {
			var d = new Date();
			var curr_day = d.getDate();
			var curr_month = d.getMonth() + 1;
			var curr_year = d.getFullYear();
			var today = (curr_day+1) + "-" + curr_month + "-" + curr_year;
			$("div.datepicker input").attr('value', today);
			$('#datetimepicker11').datetimepicker({
				autoclose: true,
				pickTime:false,
				 startDate: -Infinity,
				daysOfWeekDisabled: [0]
            });
			
			$('#sampledate').datetimepicker({
				autoclose: true,
				pickTime:false,
				startDate: "+1d",
				 daysOfWeekDisabled: [0]
			});
		});
	</script> -->
	<script type="text/javascript">
$(function () {
   
	  
	$('.form_date').datetimepicker({
       todayHighlight: false,
		autoclose: 1,
		endDate:'+1m +2d',
		startDate: '+2d',
		minView: 2,
		forceParse: 0,
         daysOfWeekDisabled: [0]
    });
	
	$('#sampledate').datetimepicker({
        autoclose: true,
		pickTime:false,
		minDate: 1,
		maxDate: "+1M",
		 daysOfWeekDisabled: [0]
    });
});
</script>
