		    	<div data-ng-show="newmenu">
		    	<div class="row">
			    	<div class="col-lg-8">
						<h4>Subscription Form</h4><hr>
					    	<div id="succussSaveDiv" data-ng-show="successMsg" class="alert alert-success"></div>
					    	<div data-ng-show="subscribeNowErrorMsg != ''" class="alert alert-danger" >
			  								{{subscribeNowErrorMsg}}
										</div>
					    	<div class="col-md-9 col-xs-12 bg-color-s1 pt10 pb10">
						<p>Breakfast with juice and dinner with dessert will be delivered for one motnh for a minimum cost of Rs. 3650/- plus Rs. 1000/- towars your wallet from which you can buy / add / customize items</p>
						<p>Recommendation: You may know more about our service by scheduling a visit or even try our sample meal</p>
						<form class="mt20">
						  <div class="form-group col-lg-8">
							<label for="name">First Name</label>
							<input type="text" class="form-control" id="name" data-ng-model="firstName" required>
						  </div>
						  <div class="form-group col-lg-8">
							<label for="name">Last Name</label>
							<input type="text" class="form-control" id="name" data-ng-model="lastName" required>
						  </div>
						  <div class="form-group col-lg-8">
							<label for="phone">Phone Number</label>
							<input type="text" class="form-control" id="phone" data-ng-model="mobile" required>
						  </div>
						  <div class="form-group col-lg-8">
							<label for="phone">Date</label>
							<!-- <div class="input-append date datepicker no-padding" data-date-format="dd-mm-yyyy">
								<input class="input-medium" size="16" type="date" data-ng-model="date" required><span class="add-on glyphicon glyphicon-calendar" style="border: 1px solid #A9A9A9;padding: 5px;"></span>
							</div> -->
						  
						  <div class="input-append date  no-padding"  id="sampledate">
								<input class="input-medium" data-ng-model="date" id="subscribeDate" size="16" type="text"><span class="add-on glyphicon glyphicon-calendar" style="border: 1px solid #A9A9A9;padding: 5px;"></span>
							</div>
						  
						  </div>
						  <div class="form-group col-lg-8">
							<label for="phone">Area</label>
							<select id="area" style="height: 30px;display: block;border-radius: 3px;">
								<option value="select">Area</option>
								<option value="madhapur">Madhapur</option>
								<option value="gachibowli">Gachibowli</option>
							</select>
						  </div>
						  <div class="form-group pull-right">
							  <button type="submit" class="btn btn-success ml10" data-ng-click="requestSubscribeNow();">Confirm & Pay</button>
							  <button type="submit" class="btn btn-success">Later</button>
						  </div>
						</form>
					</div>
					<div class="col-lg-4">
					</div>
				</div>				
</div>
</div>


 <!-- OTP Modal -->
			    <div class="modal fade" id="otpModal" data-backdrop="static" data-keyboard="false">
				  <div class="modal-dialog max-w400">
				    <div class="modal-content">
				      <div class="modal-header">
				        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
				        <h4 class="modal-title">One Time Password</h4>
				      </div>
				      <div class="modal-body">
				       <span style="color:red;">{{wrongOTPMsg}}</span>
				        <form>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">Please Enter OTP</label>
				            <input type="number" class="form-control" data-ng-model="otp">
				          </div>
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="submit" class="btn btn-success" data-ng-click="verifyOTP()">Submit</button>
				        <button type="submit" class="btn btn-success" data-ng-click="closeModal('otpModal')">Cancel</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
    <!-- <script type="text/javascript">
    	//open a given url in a new tab by clicking a button
	    $("#openlink-1").click(function () {
			window.location = "index_admin.html"  //open on same tab
	  });
    </script> -->
   <script>
		$(document).ready(function() {
			var d = new Date();
			var curr_day = d.getDate();
			var curr_month = d.getMonth() + 1;
			var curr_year = d.getFullYear();
			var today = curr_day + "-" + curr_month + "-" + curr_year;
			$("div.datepicker input").attr('value', today);
			
			$('#sampledate').datetimepicker({
				autoclose: true,
				pickTime:false
				 //format: "dd/mm/yyyy"
			});
		});
	</script>