
	    
	    <div>
		   
		    <div class="col-md-9 col-xs-12 bg-color-s1">

				<div class="col-lg-12 mb20">
					<h4 class="titile-02">Change Password</h4>
					<div class="col-lg-12">
						<form class="form-horizontal">

					  <div class="form-group">
					    <label for="inputEmail3" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">Old Password</label>
					    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					      <input type="password" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					    </div>
					  </div>
					  
					  <div class="form-group">
					    <label for="inputEmail3" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">New Password</label>
					    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					      <input type="password" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					    </div>
					  </div>
					  
					  <div class="form-group">
					    <label for="inputEmail3" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">Reenter New Password</label>
					    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					      <input type="password" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					    </div>
					  </div>
					  
					  <div class="form-group">
					    <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-offset-4 col-lg-8">
					      <button type="submit" class="btn btn-success btn_custom_margin">Submit</button>
					    </div>
					  </div>
					  
					  <br><br><br><br><br>
					</form>
					
						<!--
<a class="btn btn-success addOn-btn-s1 btn_custom_margin" href="#" role="button">Payment</a>
						<a class="btn btn-success addOn-btn-s1 btn_custom_margin" href="#" role="button">Renewal</a>
-->
					</div>
					
			    </div>
		    </div>
		    	
	    </div>
	    
	   
	    
